# Initialize Environment

### Compatibility notes

The following code is only compatible with a python 3.4 kernel and the notebook must be opened with ipython 3.0+.

The following libraries must be installed to run this code:

```pip install ujson```

In [2]:
from pdb import set_trace as debug
from pandas.io.parsers import read_csv
from IPython.parallel import Client,require
from collections import Counter

In [3]:
import ujson
import datetime
import re
import gzip
import csv

In [1]:
#--> RAW_FILE_DIR with the directory that contains google_play__main.json.gz
#--> OUT_DIR with the directory of where you want the processed files to go
#--> DEBUG whether to print out created CSV files or not
#--> COMPRESS_LEVEL gzip compression level. warning: severely impacts runtime.
#--> LINE_LIMIT how many lines to iterate through in the raw file. For debugging.
DUMP_DATE = '2015_02_26_23_12'
RAW_FILE_DIR = '/home/cgaray/data'
OUT_DIR = '/home/cgaray/data/out'
DEBUG = 0
COMPRESS_LEVEL = 1
LINE_LIMIT = -1
PARALLEL = 1

In [2]:
# Don't change these!
RAW_FILE = '{}/apple_ios__main.json.gz'.format(RAW_FILE_DIR)
OUT_BASE = OUT_DIR+'/{}__apple_ios__main__'+DUMP_DATE+'.csv.gz'

In [6]:
def iter_json_gzip(filename,LINE_LIMIT=LINE_LIMIT):
    with gzip.open(filename,'rt') as file_iter:
        c = 0
        for line in file_iter:
            c +=1
            if c > LINE_LIMIT and LINE_LIMIT>0:
                break
            yield ujson.loads(line)

In [9]:
# Print a couple observations to inspect daw data.
!zcat "$RAW_FILE"|head -n 1000 | tail -n5

{"ratingCountCurrentVersion":5,"totalNumberOfReviews":11,"copyright":"\u00a9 2011 Fluid Pixel","month":3,"ratingCount":19,"language":"English","artist_id":298530429,"categories":["Games","Board","Dice"],"store_name":"ios","description":"Liars Dice, the classic dice game of Bluff comes to the iPhone, iPod Touch and iPad.  Play against your friends on their iPhones and iPads or if you have more than three devices you can even use the iPad as a central table to control the game of up to 8 players.\n\nYou\u2019ll need to have another person to play against locally on a different device as the game uses Bluetooth to find other games in the area.","hostname":"equity4.mit.edu","kind":"iosSoftware","day":27,"size":10188858,"moreByThisDeveloper":[501002274],"version":[{"release-date":"Feb 07, 2012","version-string":"1.2","release-notes":"Thanks for all the feedback, we have been working hard on a new version that fixes the following issues:\r\n\r\n- Interface Improvements\r\n- New Random Generator used for generating nice rolls.\r\n- Increased Stability\r\n\r\nNext update will include AI so you can still practice even if you don't know anyone else with Liar's Dice."},{"release-date":"May 28, 2011","version-string":"1.1","release-notes":"Thanks for all the feedback we've been getting on the game. We've been working hard to improve the game and this is the first update to that. There various interface improvements to make the menu's clearer and more consistent. \nThere's also an improvement to the game play so that players can now \"guess\" the same number of a higher dice value to better reflect the full rule set to the game. This improves strategy within the game, especially with lower number of players.\n\nAny more feedback get in touch on twitter @fluidpixelltd"},{"release-date":"Feb 24, 2011","version-string":"1.0","release-notes":null}],"ratingAverage":2.0526299477,"customersAlsoBoughtApps":[438309491,415014558,406165160,407468529,398644286,434833999,365660185,364867911,351448383,430920838,380507600,383152745,410537253,386800660,454958810],"artistName":"Fluid Pixel Limited","hour":12,"total_ratingCount":19,"requirements":"Compatible with iPhone, iPod touch, and iPad.","releaseDate":"2011-02-24","app_name":"Liars Dice","ratingCountList":[12,2,1,0,4],"addOns":null,"app_url":"https:\/\/itunes.apple.com\/us\/app\/liars-dice\/id421167659?mt=8","price":"$0.99","timestamp":1364401432,"year":2013,"supportUrl":"http:\/\/www.fpstudios.com","websiteUrl":"http:\/\/","app_id":"421167659","seller":"Fluid Pixel Limited"}
{"ratingCountCurrentVersion":1216,"totalNumberOfReviews":1712,"copyright":"\u00a9 1935, 2010 Hasbro.  All Rights Reserved.  Game code \u00a9 2009, 2010 Electronic Arts Inc.   All other trademarks are the property of their respective owners.","month":3,"ratingCount":6099,"language":"English, Chinese, French, German, Italian, Japanese, Korean, Spanish","artist_id":284800461,"categories":["Games","Simulation","Board","Entertainment"],"store_name":"ios","description":"**This game is one SWEET DEAL! Score over 55 EA games for up to 90% OFF \u2013 or FREE! But act swiftly, because these deals won\u2019t last.**\n\n\u201cGO\u201d with the best MONOPOLY for iPad yet! Enjoy ALL-NEW gameplay features and improvements, including a Toyota Prius mover that lets you go for the green in more ways than one! From Mediterranean and Baltic to Boardwalk and beyond, enjoy a wealth of ways to play with friends \u2013 or friendly computer opponents!\n \nEXCLUSIVE iPAD FEATURES INCLUDE\u2026  \n\u2022 Tabletop Mode \u2013 Gather friends and family  around the iPad and use customizable Game Rules in the game\u2019s signature mode  \n\u2022 Teacher Mode \u2013 Play against the computer and get tips and tricks to help you strategize in future games\n\u2022 Enhanced HD-quality graphics \u2013 iPad delivers a visually rich experience with striking animated elements \u2013 It\u2019s just a lot of fun!\n\nGET \u201cGOING\u201d IN MULTIPLE MODES OF MONOPOLY PLAY\nJump right into a game with up to 3 other players in Play Now mode. Or take your on chances against in-game computer opponents featuring 4 levels of difficulty.  Also connect multiple devices to play with up to 3 other players via local WiFi or Head-to-Head via Bluetooth! \n_______________________________________\n** DON'T MISS OUR OTHER EXCITING GAMES! ** SCRABBLE, TETRIS\u00ae, Need for Speed\u2122 Hot Pursuit, ROCK BAND\u00ae Reloaded, SimCity\u2122 Deluxe, Madden NFL 11 by EA Sports\u2122 & PICTUREKA\u2122!                                                                        \n                                                                                   \nGIFT THIS APP:  Click the \u201cBuy App\u201d arrow on the iTunes\u00ae App Store.\n\nBe the first to know! Get inside EA info on great deals, plus the latest game updates, tips & more\u2026\nVISIT US: ea.com\/iphone\nFOLLOW US: twitter.com\/eamobile\nLIKE US: facebook.com\/eamobile\nWATCH US: youtube.com\/eamobilegames","hostname":"equity2.mit.edu","kind":"iosSoftware","day":27,"size":220925249,"moreByThisDeveloper":[497595276,466965151,556164008,547407138,458792705,540925164,532769924,479412611,437108135,486601093,573760453,538214920,473262223,574000486,529917075],"version":[{"release-date":"Apr 19, 2012","version-string":"1.1.35","release-notes":"GOT THE NEW IPAD? Update now and get stunning HD graphics. \n\nWe\u2019ve optimized MONOPOLY to support the new iPad\u2019s \u201cResolutionary\u201d Retina display.  \n\nAs always, thanks for playing MONOPOLY. If you are enjoying this update, let us know with a FIVE-STAR review. \n"},{"release-date":"Jun 20, 2011","version-string":"1.0.5","release-notes":"** GAME UPDATE AVAILABLE! Download now for the best game experience yet! **"},{"release-date":"Apr 27, 2011","version-string":"1.0.3","release-notes":"** NOW \u201cGO\u201dWITH THE NEW TOYOTA PRIUS MOVER! Download our BIGGEST UPDATE EVER featuring ALL-NEW gameplay features and improvements, including a new mover that lets you go for the green in more ways than one! **\n\nImprovements, additions, and optimizations include:\n\u2022 New Toyota Prius mover \u2013 Cruise the Monopoly board in classic hybrid style \n\u2022 See the probabilities \u2013  Now see the chances of an opponent landing on one of your holdings in the Manage Properties view. Know where it\u2019s best to build and get an edge!\n\u2022 Teacher Mode tutorials in each mode \u2013 You can now choose to play with the tutorial feature turned on in every style of gameplay\n\u2022 Easier Trade screen interface \u2013 Now drag and drop properties on the Trade screen and keep the action moving\n\u2022 Sleight of Hand help \u2013 Learn the different effects of this sneaky little option\n\u2022 Behind-the-scenes adjustments \u2013 We\u2019ve also made improved overall stability for Local Multiplayer, enhanced the animation the frame rate, and updated the Tabletop Mode experience   \n     \nAs always, thanks for playing Monopoly for iPad. Now, get ready for the BEST Monopoly for iPad experience yet\u2019\n"},{"release-date":"Dec 06, 2010","version-string":"1.0.1","release-notes":null}],"ratingAverage":3.5458300114,"customersAlsoBoughtApps":[423803502,378326916,408257810,457687954,405824661,390422167,294919686,374170726,388932738,384464800,389941080,286106725,400492358,476274173,432504470],"artistName":"Electronic Arts","hour":12,"total_ratingCount":6099,"requirements":"Compatible with iPad.","releaseDate":"2010-12-09","app_name":"MONOPOLY for iPad","ratingCountList":[1199,611,674,892,2723],"addOns":null,"app_url":"https:\/\/itunes.apple.com\/us\/app\/monopoly-for-ipad\/id405622181?mt=8","price":"$0.99","timestamp":1364401432,"year":2013,"supportUrl":"http:\/\/help.ea.com","websiteUrl":"http:\/\/www.ea.com\/iphone","app_id":"405622181","seller":"Electronic Arts Inc."}
{"ratingCountCurrentVersion":0,"totalNumberOfReviews":0,"copyright":"\u00a9 2011 Hannah Rose Knows, LLC.","month":3,"ratingCount":null,"language":"English","artist_id":359471099,"categories":["Books","Education"],"store_name":"ios","description":"Floating among the galaxy, not too far away from Earth, shines a beautiful planet named Sou
gzip: l.  The family that governs Planet soul is The Soul Family, who use their powers of good to lead the earthlings on the right path to peace and happiness.  There is only one thing that slows them down from their mission - The Rude Family from the neighboring Planet Rude.  It is a race between the Planet Soul and Planet Rude space creatures to influence the earthlings - one leaving them positive, the other negative. Who will win out?\n\nPlanet Soul takes you on the adventure of a lifetime.  This entertaining and fully interactive reading experience will teach children the impact they can have with a positive attitude.  The beautifully illustrated story is packed with animations, fun touch spots, and important lessons on every page.  Hear the story read aloud and explore at your own pace.\n\n* Animated story with interactive elements\n* The perfect interactive story for entertaining and teaching kids\n* Explore delightful animations and surprise features within each page\n* Turn pages manually and move back and forth through the story as you wish\n* Toggle between audio \"read to me\" option or \"read myself\" to read at your own pace","hostname":"equity5.mit.edu","kind":"iosSoftware","day":27,"size":80819029,"moreByThisDeveloper":null,"version":[{"release-date":"Apr 17, 2012","version-string":"1.1","release-notes":"- Minor bug fixes\n- Icon optimized for retina display"},{"release-date":"Jul 27, 2011","version-string":"1.0","release-notes":null}],"ratingAverage":null,"customersAlsoBoughtApps":null,"artistName":"Hannah Rose Knows, LLC.","hour":12,"total_ratingCount":0,"requirements":"Compatible with iPad.","releaseDate":"2011-07-27","app_name":"Planet Soul an Interactive Storybook","ratingCountList":null,"addOns":null,"app_url":"https:\/\/itunes.apple.com\/us\/app\/planet-soul-interactive-storybook\/id451288104?mt=8","price":"$3.99","timestamp":1364401433,"year":2013,"supportUrl":"http:\/\/planet-soul.com\/","websiteUrl":"http:\/\/planet-soul.com\/","app_id":"451288104","seller":"Hannah Rose knows LLC"}
{"ratingCountCurrentVersion":0,"totalNumberOfReviews":0,"copyright":"\u00a9 2011 programer software","month":3,"ratingCount":null,"language":"English","artist_id":451375145,"categories":["Games","Entertainment","Action","Family"],"store_name":"ios","description":"Intellectual battle between Hero 2000 years ago and Hero 1000 years ago,who will win?  A chess like puzzle game. \n-Player vs computer \n-Player vs Player through through one computer\n-Player vs Player over wifi or bluetooth\n\nmode:\n-2 wolfs vs 15 sheep\n-3 wolfs vs 20 sheep\nrule:\n-move: the cell is null ,can move one step.\n-eat:if the sheep is next to wolf and the other side cell is null,the wolf can eat the sheep.\n-win:the sheep win only if wolfs cannot move or eat;\nthe wolfs win only if all sheep is ate.","hostname":"equity4.mit.edu","kind":"iosSoftware","day":27,"size":20478618,"moreByThisDeveloper":[463953145,472178035,548274105,578534432,578875930,578879364,580084206],"version":[{"release-date":"Sep 10, 2012","version-string":"5.0","release-notes":"add feature"},{"release-date":"Dec 13, 2011","version-string":"4.0","release-notes":"game center"},{"release-date":"Dec 08, 2011","version-string":"2.0","release-notes":"game center"},{"release-date":"Oct 27, 2011","version-string":"1.5","release-notes":"for copyright reason,change the character pictures."},{"release-date":"Oct 09, 2011","version-string":"1.0","release-notes":null}],"ratingAverage":null,"customersAlsoBoughtApps":[457234939,398150197,437472550,433363203,455055887,456107545,408697793,424818320,420866186,458239036,443718159,449811104,423803502,455533949,432874406],"artistName":"lin lewen","hour":12,"total_ratingCount":0,"requirements":"Compatible with iPhone, iPod touch, and iPad.","releaseDate":"2011-10-13","app_name":"Battle of Wits HD","ratingCountList":null,"addOns":null,"app_url":"https:\/\/itunes.apple.com\/us\/app\/battle-of-wits-hd\/id468404895?mt=8","price":"$2.99","timestamp":1364401433,"year":2013,"supportUrl":"http:\/\/www.programersoft.com","websiteUrl":"http:\/\/www.programersoft.com","app_id":"468404895","seller":"lin lewen"}
{"ratingCountCurrentVersion":0,"totalNumberOfReviews":0,"copyright":"\u00a9 2012. Dominion Dealer Solutions","month":3,"ratingCount":null,"language":"English","artist_id":529806544,"categories":["Business","Lifestyle"],"store_name":"ios","description":"Search our new and used inventory complete vehicle details with multiple photos,\nmaps, directions and contact information to your dealership.\nEasy click-to-call access to your dealership\nRegistration creates account for scheduling services for your vehicle\nTrack vehicle service history\nView service specials\nReceive service recall notifications\nReceive service maintenance reminders\nObtain an estimate on the value of a trade-in\nEstimate loan payoff\nCalculate loan for replacement vehicle\nLocate nearby gas stations\nUtilize camera for parking spot reminders\nCapture Vehicle Identification Number (VIN) for vehicles\nDirect access to CARFAX reports","hostname":"equity2.mit.edu","kind":"iosSoftware","day":27,"size":5407585,"moreByThisDeveloper":[529806541,541570160,541583246,541874975,542112853,543853879,554965137,557163264,560448989,563196822,565902257,567717479,567724583,580453017,580471370],"version":[{"release-date":"Feb 27, 2013","version-string":"1.3","release-notes":"Change in parked functionality."},{"release-date":"Nov 02, 2012","version-string":"1.2","release-notes":"Splash screen image is changed"},{"release-date":"Oct 12, 2012","version-string":"1.1","release-notes":"New dealer lot key is added for the vehicles of inventory"},{"release-date":"Oct 03, 2012","version-string":"1.0","release-notes":null}],"ratingAverage":null,"customersAlsoBoughtApps":null,"artistName":"Dominion Dealer Solutions LLC","hour":12,"total_ratingCount":0,"requirements":"Compatible with iPhone, iPod touch, and iPad.","releaseDate":"2012-10-03","app_name":"My Tamaroff.com","ratingCountList":null,"addOns":null,"app_url":"https:\/\/itunes.apple.com\/us\/app\/my-tamaroff.com\/id556545516?mt=8","price":"$0.00","timestamp":1364401433,"stdout: Broken pipe
year":2013,"supportUrl":"http:\/\/www.tamaroffauto.com","websiteUrl":null,"app_id":"556545516","seller":"Dominion Dealer Solutions LLC"}

# Initialize Parallel Computing

In [6]:
if PARALLEL:
    ipython_parallel = Client()
    print("{} active computing engines".format(len(ipython_parallel.ids)))

    lbv = ipython_parallel.load_balanced_view()

    map = lambda f,itertable:lbv.map(f,itertable,\
    block =False,\
    ordered =False)

    @require('socket')
    def host(dummy):
        return socket.gethostname()
    
    nodes = list(lbv.map(host,ipython_parallel.ids))
    nodes = [int(x.split('equity')[1].split(".")[0]) for x in nodes]
    nodes = sorted(nodes)

    print(list(Counter(nodes).items()))

# Daily Ratings -- DAILYRATINGS

In [28]:
@require(iter_json_gzip,'ujson','datetime','re','gzip','csv')
def DAILYRATINGS(file_in,out_base,compress=1):
    headers = ['app_id','date','rating5','rating4','rating3','rating2','rating1']
    out_filename = out_base.format('DAILYRATINGS')
    unique_daily_rating = set()
    with gzip.open(out_filename,'wt',compress) as out_file:
        csv_writer = csv.writer(out_file)
        csv_writer.writerow(headers)
        for json in iter_json_gzip(file_in):
            day = datetime.datetime.fromtimestamp(int(json['timestamp']))\
                                .strftime('%Y-%m-%d')
            rating = json.get('ratingCountList',None)
            if rating:
                obs = (json['app_id'],day,tuple(rating),)
                if hash(obs) not in unique_daily_rating:
                    unique_daily_rating.add(hash(obs))
                    csv_writer.writerow([json['app_id'],day]+rating)
    return out_filename

In [29]:
df_debug = None
if DEBUG:
    df_debug = read_csv(DAILYRATINGS(RAW_FILE,OUT_BASE,COMPRESS_LEVEL),compression='gzip',header=0)
df_debug

        app_id        date  rating5  rating4  rating3  rating2  rating1
0    333208122  2013-03-27      233       99      112       76      319
1    447548412  2013-03-27        1        1        1        0        9
2    333378940  2013-03-27        3        0        2        0        4
3    494794787  2013-03-27        3        1        1        0        5
4    469990268  2013-03-27       44        3       13       13       74
5    568421135  2013-03-27       15        5        8       10       29
6    288373421  2013-03-27       55       33       25       17       30
7    346672821  2013-03-27        4        3        7       10       44
8    353415141  2013-03-27       17        9        4        3       14
9    327519114  2013-03-27       35       11       12        4        7
10   582512771  2013-03-27        3        0        1        0        1
11   404562192  2013-03-27        3        0        2        2        1
12   493770844  2013-03-27        4        0        1        1       20
13   437242870  2013-03-27        1        3        5        1        1
14   528163921  2013-03-27        8        3        3       14       25
15   597378625  2013-03-27        0        0        1        2       78
16   427932413  2013-03-27        2        5        8       13       27
17   405992810  2013-03-27        3        2        2       10       17
18   547831264  2013-03-27       11        4        9       24       89
19   353022263  2013-03-27        4        2        3        2        3
20   501074772  2013-03-27        8        1        2        2       14
21   435347306  2013-03-27        0        3        5       10       11
22   531561519  2013-03-27        1        1        0        0       24
23   350792925  2013-03-27       95        4        4        2       43
24   333262493  2013-03-27        3        1        0        0        1
25   311967376  2013-03-27      344      101       94       54      191
26   585981070  2013-03-27        2        0        0        1        2
27   374191976  2013-03-27       55       32       49       45      151
28   566329593  2013-03-27        3        3        2        2       22
29   321010010  2013-03-27        1        5        6        4        7
..         ...         ...      ...      ...      ...      ...      ...
183  369606498  2013-03-27       96       58       64       50       96
184  468674805  2013-03-27       26       16       12       24       32
185  462142958  2013-03-27       10        4        5        4       10
186  330784034  2013-03-27       79       41       44       29       99
187  476316481  2013-03-27       18       15       31       48      106
188  546407789  2013-03-27       90       30       25       38      229
189  406969208  2013-03-27       36       28       40       54      283
190  441143343  2013-03-27        4        1        0        2        7
191  463454413  2013-03-27       27       12       20        8       36
192  439449554  2013-03-27        3        0        4        5       23
193  505847168  2013-03-27       22        5       12       50      327
194  319957527  2013-03-27        5        4        2        3        1
195  413553606  2013-03-27        1        0        2        1        5
196  453176734  2013-03-27        1        0        0        3       13
197  533905419  2013-03-27        5        0        1        0        8
198  551341656  2013-03-27        0        0        1        5       27
199  378757624  2013-03-27        4        4        2        0        1
200  478126577  2013-03-27       86       33       44      104      506
201  370794522  2013-03-27        4        0        1        0        1
202  349168262  2013-03-27       50       26       17       20       13
203  489196274  2013-03-27       84       20       10       13       74
204  328934720  2013-03-27       72       30       39       29       72
205  410794319  2013-03-27       32       20       59       76      151
206  449267558  2013-03-27      172      118      200      401      315
207  409354774  2013-03-27        4        1        0        0        2
208  391801888  2013-03-27        5        2        0        0        6
209  449577861  2013-03-27       38        3        2        0       38
210  352609414  2013-03-27        4        1        1        0        2
211  421167659  2013-03-27       12        2        1        0        4
212  405622181  2013-03-27     1199      611      674      892     2723

[213 rows x 7 columns]

# Artist - app_id -- NEWARTISTID

In [30]:
@require(iter_json_gzip,'ujson','datetime','re','gzip','csv')
def NEWDEVELOPER(file_in,out_base,compress=1):
    headers = ['app_id','date','artist_id']
    out_filename = out_base.format('NEWARTISTID')
    running = {}
    with gzip.open(out_filename,'wt',compress) as out_file:
        csv_writer = csv.writer(out_file)
        csv_writer.writerow(headers)
        for json in iter_json_gzip(file_in):
            developer = '{}'.format(json['artist_id'])
            if running.get(json['app_id'],None)!=developer:
                running[json['app_id']] = developer
                day = datetime.datetime.\
                fromtimestamp(int(json['timestamp']))\
                        .strftime('%Y-%m-%d').strip()
                obs = (json['app_id'],day,developer)
                csv_writer.writerow(obs)
    return out_filename

In [31]:
df_debug = None
if DEBUG:
    df_debug = read_csv(NEWARTISTID(RAW_FILE,OUT_BASE,COMPRESS_LEVEL),compression='gzip',header=0)
df_debug

        app_id        date  artist_id
0    477033794  2013-03-27  477033797
1    494296216  2013-03-27  494296219
2    465608546  2013-03-27  403287102
3    498191169  2013-03-27  498191172
4    333208122  2013-03-27  328282863
5    447548412  2013-03-27  431586531
6    568386333  2013-03-27  568386336
7    564550227  2013-03-27  542898284
8    555915492  2013-03-27  447033331
9    480092632  2013-03-27  414617230
10   366947521  2013-03-27  349085221
11   518504981  2013-03-27  435349139
12   382827187  2013-03-27  354766336
13   487978078  2013-03-27  487978081
14   574240086  2013-03-27  543568133
15   477679542  2013-03-27  400661254
16   523502051  2013-03-27  478000544
17   439268906  2013-03-27  401640034
18   449609348  2013-03-27  441233546
19   485213368  2013-03-27  477659775
20   421620053  2013-03-27  421620056
21   555646787  2013-03-27  555646810
22   378071869  2013-03-27  371951988
23   333378940  2013-03-27  322444342
24   467612704  2013-03-27  467612707
25   560066403  2013-03-27  296621490
26   375126481  2013-03-27  365878193
27   397911872  2013-03-27  395452913
28   588772732  2013-03-27  588772735
29   335308599  2013-03-27  293129314
..         ...         ...        ...
970  469942514  2013-03-27  469942517
971  511306890  2013-03-27  465070867
972  507402402  2013-03-27  507402405
973  406637778  2013-03-27  400653580
974  588344397  2013-03-27  476557029
975  614435478  2013-03-27  348889012
976  535705715  2013-03-27  535705718
977  544970337  2013-03-27  499209463
978  422133414  2013-03-27  368443008
979  409354774  2013-03-27  305404180
980  570615284  2013-03-27  492037201
981  398488020  2013-03-27  372963629
982  391801888  2013-03-27  380323042
983  306215672  2013-03-27  304007557
984  449577861  2013-03-27  415081500
985  501943048  2013-03-27  501943111
986  352609414  2013-03-27  304281723
987  494238968  2013-03-27  345872798
988  413903348  2013-03-27  413903351
989  496313738  2013-03-27  496313741
990  516330695  2013-03-27  494031521
991  414113560  2013-03-27  363581788
992  443547017  2013-03-27  443547020
993  516924704  2013-03-27  427504498
994  539799483  2013-03-27  437382235
995  421167659  2013-03-27  298530429
996  405622181  2013-03-27  284800461
997  451288104  2013-03-27  359471099
998  468404895  2013-03-27  451375145
999  556545516  2013-03-27  529806544

[1000 rows x 3 columns]

# Category - app_id -- NEWCATEGORY

In [32]:
@require(iter_json_gzip,'ujson','datetime','re','gzip','csv')
def NEWCATEGORY(file_in,out_base,compress=1):
    headers = ['app_id','date']+ ['category{}'.format(x) \
                                  for x in range(1,5)]
    out_filename = out_base.format('NEWCATEGORY')
    running = {}
    with gzip.open(out_filename,'wt',compress) as out_file:
        csv_writer = csv.writer(out_file)
        csv_writer.writerow(headers)
        for json in iter_json_gzip(file_in):
            category = json.get('categories',[])[:4]
            joined = ",".join(category)
            if running.get(json['app_id'],'')!=joined:
                running[json['app_id']] = joined
                day = datetime.datetime.\
                fromtimestamp(int(json['timestamp']))\
                        .strftime('%Y-%m-%d').strip()
                csv_writer.writerow([json['app_id'],day]+ category)
    return out_filename

In [33]:
df_debug = None
if DEBUG:
    df_debug = read_csv(NEWCATEGORY(RAW_FILE,OUT_BASE,COMPRESS_LEVEL),compression='gzip',header=0)
df_debug

,app_id,date,category1,category2,category3,category4
0,477033794,2013-03-27,Music,Utilities,NaN,NaN
1,494296216,2013-03-27,Sports,Education,NaN,NaN
2,465608546,2013-03-27,Utilities,Entertainment,NaN,NaN
3,498191169,2013-03-27,Medical,Health & Fitness,NaN,NaN
4,333208122,2013-03-27,Utilities,Education,NaN,NaN
5,447548412,2013-03-27,Education,Educational,Games,Kids
6,568386333,2013-03-27,Social Networking,NaN,NaN,NaN
7,564550227,2013-03-27,Music,Education,NaN,NaN
8,555915492,2013-03-27,Games,Family,Entertainment,Kids
9,480092632,2013-03-27,Games,Kids,Family,NaN
10,366947521,2013-03-27,Business,Medical,NaN,NaN
11,518504981,2013-03-27,Entertainment,Music,NaN,NaN
12,382827187,2013-03-27,Books,Entertainment,NaN,NaN
13,487978078,2013-03-27,Music,Entertainment,NaN,NaN
14,574240086,2013-03-27,Books,Education,NaN,NaN
15,477679542,2013-03-27,Medical,Reference,NaN,NaN
16,523502051,2013-03-27,Games,Puzzle,Entertainment,Kids
17,439268906,2013-03-27,Productivity,Utilities,NaN,NaN
18,449609348,2013-03-27,Education,NaN,NaN,NaN
19,485213368,2013-03-27,Business,Utilities,NaN,NaN
20,421620053,2013-03-27,Books,Reference,NaN,NaN
21,555646787,2013-03-27,Business,Newsstand,NaN,NaN
22,378071869,2013-03-27,Entertainment,NaN,NaN,NaN
23,333378940,2013-03-27,Entertainment,Games,Simulation,NaN
24,467612704,2013-03-27,Music,Entertainment,NaN,NaN
25,560066403,2013-03-27,Business,Lifestyle,NaN,NaN
26,375126481,2013-03-27,News,Reference,NaN,NaN
27,397911872,2013-03-27,Books,Education,NaN,NaN
28,588772732,2013-03-27,Business,Catalogs,NaN,NaN
29,335308599,2013-03-27,Books,Entertainment,NaN,NaN
...,...,...,...,...,...,...
970,469942514,2013-03-27,Finance,NaN,NaN,NaN
971,511306890,2013-03-27,Sports,Reference,NaN,NaN
972,507402402,2013-03-27,Medical,NaN,NaN,NaN
973,406637778,2013-03-27,Education,Games,Puzzle,Educational
974,588344397,2013-03-27,Games,Arcade,Adventure,Entertainment
975,614435478,2013-03-27,Reference,Education,NaN,NaN
976,535705715,2013-03-27,Utilities,Business,NaN,NaN
977,544970337,2013-03-27,Games,Arcade,Entertainment,Puzzle
978,422133414,2013-03-27,Games,Puzzle,Dice,Entertainment
979,409354774,2013-03-27,Entertainment,Kids,Arcade,Games
980,570615284,2013-03-27,Utilities,Photo & Video,NaN,NaN
981,398488020,2013-03-27,Entertainment,Education,NaN,NaN
982,391801888,2013-03-27,Entertainment,Trivia,Educational,Games
983,306215672,2013-03-27,Entertainment,NaN,NaN,NaN
984,449577861,2013-03-27,Games,Strategy,Trivia,NaN
985,501943048,2013-03-27,Lifestyle,NaN,NaN,NaN
986,352609414,2013-03-27,News,Sports,NaN,NaN
987,494238968,2013-03-27,Education,Reference,NaN,NaN
988,413903348,2013-03-27,Social Networking,Utilities,NaN,NaN
989,496313738,2013-03-27,Music,Entertainment,NaN,NaN
990,516330695,2013-03-27,Music,Entertainment,NaN,NaN
991,414113560,2013-03-27,Utilities,Books,NaN,NaN
992,443547017,2013-03-27,Music,Entertainment,NaN,NaN
993,516924704,2013-03-27,Photo & Video,Entertainment,NaN,NaN
994,539799483,2013-03-27,Games,Action,Entertainment,Simulation
995,421167659,2013-03-27,Games,Board,Dice,NaN
996,405622181,2013-03-27,Games,Simulation,Board,Entertainment
997,451288104,2013-03-27,Books,Education,NaN,NaN
998,468404895,2013-03-27,Games,Entertainment,Action,Family
999,556545516,2013-03-27,Business,Lifestyle,NaN,NaN

# Price changes -- NEWPRICE

In [34]:
@require(iter_json_gzip,'ujson','datetime','re','gzip','csv')
def NEWPRICE(file_in,out_base,compress=1):
    headers = ['app_id','date','price']
    out_filename = out_base.format('NEWPRICE')
    running = {}
    with gzip.open(out_filename,'wt',compress) as out_file:
        csv_writer = csv.writer(out_file)
        csv_writer.writerow(headers)
        for json in iter_json_gzip(file_in):
            price = str(json.get('price','')).replace("$","")
            if running.get(json['app_id'],'')!=price:
                running[json['app_id']] = price
                day = datetime.datetime.\
                fromtimestamp(int(json['timestamp']))\
                        .strftime('%Y-%m-%d').strip()
                obs = (json['app_id'],day,price)
                csv_writer.writerow(obs) 
    return out_filename

In [35]:
df_debug = None
if DEBUG:
    df_debug = read_csv(NEWPRICE(RAW_FILE,OUT_BASE,COMPRESS_LEVEL),compression='gzip',header=0)
df_debug

        app_id        date  price
0    477033794  2013-03-27   0.00
1    494296216  2013-03-27   3.99
2    465608546  2013-03-27   5.99
3    498191169  2013-03-27   0.00
4    333208122  2013-03-27   0.00
5    447548412  2013-03-27   2.99
6    568386333  2013-03-27   0.00
7    564550227  2013-03-27   0.00
8    555915492  2013-03-27   0.99
9    480092632  2013-03-27   0.99
10   366947521  2013-03-27   0.00
11   518504981  2013-03-27   0.00
12   382827187  2013-03-27   9.99
13   487978078  2013-03-27   0.00
14   574240086  2013-03-27   0.99
15   477679542  2013-03-27   0.00
16   523502051  2013-03-27   0.00
17   439268906  2013-03-27   0.99
18   449609348  2013-03-27   2.99
19   485213368  2013-03-27   4.99
20   421620053  2013-03-27   0.99
21   555646787  2013-03-27   0.00
22   378071869  2013-03-27   0.00
23   333378940  2013-03-27   0.99
24   467612704  2013-03-27   0.00
25   560066403  2013-03-27   0.00
26   375126481  2013-03-27   0.00
27   397911872  2013-03-27   8.99
28   588772732  2013-03-27   0.00
29   335308599  2013-03-27   0.00
..         ...         ...    ...
970  469942514  2013-03-27   0.00
971  511306890  2013-03-27   0.99
972  507402402  2013-03-27   0.00
973  406637778  2013-03-27   0.99
974  588344397  2013-03-27   0.99
975  614435478  2013-03-27   4.99
976  535705715  2013-03-27   0.00
977  544970337  2013-03-27   0.99
978  422133414  2013-03-27   0.99
979  409354774  2013-03-27   0.00
980  570615284  2013-03-27   1.99
981  398488020  2013-03-27   0.99
982  391801888  2013-03-27   0.99
983  306215672  2013-03-27   0.99
984  449577861  2013-03-27   0.99
985  501943048  2013-03-27  24.99
986  352609414  2013-03-27   0.00
987  494238968  2013-03-27   4.99
988  413903348  2013-03-27   0.00
989  496313738  2013-03-27   0.00
990  516330695  2013-03-27   2.99
991  414113560  2013-03-27   5.99
992  443547017  2013-03-27   0.00
993  516924704  2013-03-27   2.99
994  539799483  2013-03-27   0.00
995  421167659  2013-03-27   0.99
996  405622181  2013-03-27   0.99
997  451288104  2013-03-27   3.99
998  468404895  2013-03-27   2.99
999  556545516  2013-03-27   0.00

[1000 rows x 3 columns]

# All Unique Versions  -- ALLVERSIONS

In [36]:
@require(iter_json_gzip,'ujson','datetime','re','gzip','csv')
def ALLVERSIONS(file_in,out_base,compress=1):
    headers = ['app_id','date','version_string',\
#                'release_notes'\
              ]
    out_filename = out_base.format('DAILYRATINGS')
    unique_ver = set()
    with gzip.open(out_filename,'wt',compress) as out_file:
        csv_writer = csv.writer(out_file)
        csv_writer.writerow(headers)
        for json in iter_json_gzip(file_in):
            for each_version in json.get('version',[]):
                # need extra code because Apple changed format
                if 'release-date' in each_version:
                    date = each_version.get('release-date','')
                    date = datetime.datetime.strptime(date,'%b %d, %Y')
                    date = date.strftime('%Y-%m-%d')
                    version_string = each_version.get('version-string','')
                    release_notes = each_version.get('release-notes','')
                elif 'releaseDate' in each_version:
                    date = each_version.get('releaseDate','')
                    date = datetime.datetime.strptime(date,'%Y-%m-%dT%H:%M:%SZ')
                    date = date.strftime('%Y-%m-%d')
                    version_string = each_version.get('versionString','')
                    release_notes = each_version.get('releaseNotes','')
                obs_u = (json['app_id'],date,version_string)
                if hash(obs_u) not in unique_ver:
                    unique_ver.add(hash(obs_u))
                    obs = (json['app_id'],date,
                           version_string,
#                            release_notes,
                          )
                    csv_writer.writerow(obs)
    return out_filename

In [24]:
df_debug = None
if DEBUG:
    df_debug = read_csv(ALLVERSIONS(RAW_FILE,OUT_BASE,COMPRESS_LEVEL),compression='gzip',header=0)
df_debug

         app_id        date version_string
0     477033794  2011-11-04            1.0
1     494296216  2012-11-06          1.8.3
2     494296216  2012-09-10          1.8.2
3     494296216  2012-02-09          1.7.1
4     494296216  2012-01-26            1.7
5     465608546  2012-06-06            1.1
6     465608546  2011-09-22            1.0
7     498191169  2012-05-23            1.2
8     498191169  2012-03-06            1.1
9     498191169  2012-02-28            1.0
10    333208122  2011-01-10            2.5
11    333208122  2010-04-25            2.0
12    333208122  2009-10-15            1.0
13    447548412  2012-11-27            1.4
14    447548412  2012-07-01            1.3
15    447548412  2012-05-13            1.2
16    447548412  2012-03-07            1.1
17    447548412  2011-08-12            1.0
18    568386333  2013-02-20         4.5.12
19    568386333  2012-11-06            4.0
20    564550227  2012-10-03            1.0
21    555915492  2012-09-04            1.0
22    480092632  2011-11-18            1.0
23    366947521  2010-04-13            1.2
24    518504981  2012-07-03            1.1
25    518504981  2012-04-18            1.0
26    382827187  2011-12-03          2.4.2
27    382827187  2010-09-26            1.5
28    487978078  2011-12-14          4.6.1
29    574240086  2013-02-08            1.0
...         ...         ...            ...
2986  413903348  2011-05-18            1.2
2987  413903348  2011-03-05            1.1
2988  413903348  2011-01-12            1.0
2989  496313738  2013-02-02          1.5.6
2990  496313738  2012-01-27          1.5.1
2991  516330695  2012-05-02            1.0
2992  414113560  2011-01-13            1.0
2993  443547017  2011-06-14          4.5.2
2994  516924704  2012-11-14          5.0.0
2995  516924704  2012-09-11          3.5.0
2996  516924704  2012-04-12          3.1.0
2997  539799483  2012-07-06            1.0
2998  421167659  2012-02-07            1.2
2999  421167659  2011-05-28            1.1
3000  421167659  2011-02-24            1.0
3001  405622181  2012-04-19         1.1.35
3002  405622181  2011-06-20          1.0.5
3003  405622181  2011-04-27          1.0.3
3004  405622181  2010-12-06          1.0.1
3005  451288104  2012-04-17            1.1
3006  451288104  2011-07-27            1.0
3007  468404895  2012-09-10            5.0
3008  468404895  2011-12-13            4.0
3009  468404895  2011-12-08            2.0
3010  468404895  2011-10-27            1.5
3011  468404895  2011-10-09            1.0
3012  556545516  2013-02-27            1.3
3013  556545516  2012-11-02            1.2
3014  556545516  2012-10-12            1.1
3015  556545516  2012-10-03            1.0

[3016 rows x 3 columns]

# Requires Version Changes -- NEWREQ

In [25]:
@require(iter_json_gzip,'ujson','datetime','re','gzip','csv')
def NEWREQ(file_in,out_base,compress=1):
    headers = ['app_id','date','requires','optimized']
    out_filename = out_base.format('NEWREQ')
    with gzip.open(out_filename,'wt',compress) as out_file:
        csv_writer = csv.writer(out_file, dialect='excel')
        csv_writer.writerow(headers)
        running = {}
        and_re = re.compile(r"and ")
        com_with_re = re.compile(r"Compatible with ")
        optimize_re = re.compile(r"This app is optimized for ")
        for json in iter_json_gzip(file_in):
            requires = json.get('requirements',None)
            if requires == None:
                continue
            re_split = requires.split(".")
            requires = com_with_re.sub('',re_split[0]).strip()
            requires = and_re.sub('',requires)
            optimized = None
            if len(re_split)>1:
                optimized = re_split[1].strip()
                optimized = optimize_re.sub("",optimized)
            if running.get(json['app_id'],'')!=json.get('requirements',''):
                running[json['app_id']] = json.get('requirements','')
                day = datetime.datetime.fromtimestamp(int(json['timestamp']))\
                        .strftime('%Y-%m-%d')
                obs = (json['app_id'],day,requires,optimized)
                csv_writer.writerow(obs)
    return out_filename

In [26]:
df_debug = None
if DEBUG:
    df_debug = read_csv(NEWREQ(RAW_FILE,OUT_BASE,COMPRESS_LEVEL),compression='gzip',header=0)
df_debug

,app_id,date,requires,optimized
0,477033794,2013-03-27,"iPhone 3GS, iPhone 4, iPhone 4S, iPhone 5, iPo...",NaN
1,494296216,2013-03-27,"iPhone, iPod touch, iPad",NaN
2,465608546,2013-03-27,iPad,NaN
3,498191169,2013-03-27,"iPhone 3GS, iPhone 4, iPhone 4S, iPhone 5, iPo...",NaN
4,333208122,2013-03-27,"iPhone, iPod touch, iPad",NaN
5,447548412,2013-03-27,"iPhone, iPod touch, iPad",NaN
6,568386333,2013-03-27,"iPhone, iPod touch, iPad",iPhone 5
7,564550227,2013-03-27,"iPhone, iPod touch, iPad",NaN
8,555915492,2013-03-27,"iPhone, iPod touch, iPad",NaN
9,480092632,2013-03-27,"iPhone, iPod touch, iPad",NaN
10,366947521,2013-03-27,"iPhone, iPod touch, iPad",NaN
11,518504981,2013-03-27,"iPhone, iPod touch, iPad",NaN
12,382827187,2013-03-27,"iPhone, iPod touch, iPad",NaN
13,487978078,2013-03-27,"iPhone, iPod touch, iPad",NaN
14,574240086,2013-03-27,"iPhone 3GS, iPhone 4, iPhone 4S, iPhone 5, iPo...",iPhone 5
15,477679542,2013-03-27,"iPhone, iPod touch, iPad",NaN
16,523502051,2013-03-27,"iPhone, iPod touch, iPad",NaN
17,439268906,2013-03-27,iPhone,NaN
18,449609348,2013-03-27,"iPhone, iPod touch, iPad",NaN
19,485213368,2013-03-27,"iPhone, iPod touch, iPad",NaN
20,421620053,2013-03-27,"iPhone, iPod touch, iPad",iPhone 5
21,555646787,2013-03-27,"iPhone, iPod touch, iPad",iPhone 5
22,378071869,2013-03-27,"iPhone, iPod touch, iPad",NaN
23,333378940,2013-03-27,"iPhone, iPod touch, iPad",NaN
24,467612704,2013-03-27,"iPhone, iPod touch, iPad",NaN
25,560066403,2013-03-27,"iPhone 3GS, iPhone 4, iPhone 4S, iPhone 5, iPo...",iPhone 5
26,375126481,2013-03-27,"iPhone, iPod touch, iPad",NaN
27,397911872,2013-03-27,iPad,NaN
28,588772732,2013-03-27,"iPhone, iPod touch, iPad",iPhone 5
29,335308599,2013-03-27,"iPhone, iPod touch, iPad",NaN
...,...,...,...,...
970,469942514,2013-03-27,"iPhone, iPod touch, iPad",NaN
971,511306890,2013-03-27,"iPhone, iPod touch, iPad",NaN
972,507402402,2013-03-27,"iPhone 3GS, iPhone 4, iPhone 4S, iPhone 5, iPo...",iPhone 5
973,406637778,2013-03-27,iPad,NaN
974,588344397,2013-03-27,"iPhone, iPod touch, iPad",NaN
975,614435478,2013-03-27,"iPhone, iPod touch, iPad",iPhone 5
976,535705715,2013-03-27,"iPhone 3GS, iPhone 4, iPhone 4S, iPhone 5, iPo...",iPhone 5
977,544970337,2013-03-27,"iPhone, iPod touch, iPad",NaN
978,422133414,2013-03-27,"iPhone, iPod touch, iPad",NaN
979,409354774,2013-03-27,"iPhone, iPod touch, iPad",NaN
980,570615284,2013-03-27,"iPhone 3GS, iPhone 4, iPhone 4S, iPhone 5, iPo...",iPhone 5
981,398488020,2013-03-27,iPad,NaN
982,391801888,2013-03-27,"iPhone, iPod touch, iPad",NaN
983,306215672,2013-03-27,"iPhone, iPod touch, iPad",NaN
984,449577861,2013-03-27,"iPhone, iPod touch, iPad",NaN
985,501943048,2013-03-27,"iPhone, iPod touch, iPad",iPhone 5
986,352609414,2013-03-27,"iPhone, iPod touch, iPad",NaN
987,494238968,2013-03-27,"iPhone, iPod touch, iPad",NaN
988,413903348,2013-03-27,"iPhone, iPod touch, iPad",NaN
989,496313738,2013-03-27,"iPhone, iPod touch, iPad",iPhone 5
990,516330695,2013-03-27,iPad,NaN
991,414113560,2013-03-27,"iPhone, iPod touch, iPad",NaN
992,443547017,2013-03-27,"iPhone, iPod touch, iPad",NaN
993,516924704,2013-03-27,"iPhone 3GS, iPhone 4, iPhone 4S, iPhone 5, iPo...",iPhone 5
994,539799483,2013-03-27,"iPhone, iPod touch, iPad",NaN
995,421167659,2013-03-27,"iPhone, iPod touch, iPad",NaN
996,405622181,2013-03-27,iPad,NaN
997,451288104,2013-03-27,iPad,NaN
998,468404895,2013-03-27,"iPhone, iPod touch, iPad",NaN
999,556545516,2013-03-27,"iPhone, iPod touch, iPad",NaN

# Run them all!

In [37]:
programs = """
DAILYRATINGS
NEWDEVELOPER
NEWCATEGORY
NEWPRICE
ALLVERSIONS
NEWREQ
""".split()

def run_function(f,RAW_FILE=RAW_FILE,OUT_BASE=OUT_BASE,COMPRESS_LEVEL=COMPRESS_LEVEL):
    return f(RAW_FILE ,OUT_BASE,COMPRESS_LEVEL)

for file in map(run_function,[globals()[x] for x in programs]):
    print(file)
print("DONE")

/home/cgaray/data/out/DAILYRATINGS__apple_ios__main__2015_02_26_23_12.csv.gz
/home/cgaray/data/out/NEWARTISTID__apple_ios__main__2015_02_26_23_12.csv.gz
/home/cgaray/data/out/NEWCATEGORY__apple_ios__main__2015_02_26_23_12.csv.gz
/home/cgaray/data/out/NEWPRICE__apple_ios__main__2015_02_26_23_12.csv.gz
/home/cgaray/data/out/DAILYRATINGS__apple_ios__main__2015_02_26_23_12.csv.gz
/home/cgaray/data/out/NEWREQ__apple_ios__main__2015_02_26_23_12.csv.gz
DONE