# Initialize Environment

### Compatibility notes

The following code is only compatible with a python 3.4 kernel and the notebook must be opened with ipython 3.0+.

In [1]:
from pdb import set_trace as debug
from pandas.io.parsers import read_csv
from IPython.parallel import Client,require
from collections import Counter

In [2]:
import datetime
import re
import csv
import gzip
import ujson

In [3]:
#--> RAW_FILE_DIR with the directory that contains google_play__main.json.gz
#--> OUT_DIR with the directory of where you want the processed files to go
#--> DEBUG whether to print out created CSV files or not
#--> COMPRESS_LEVEL gzip compression level. warning: severely impacts runtime.
#--> LINE_LIMIT how many lines to iterate through in the raw file. For debugging.
DUMP_DATE = '2015_02_26_23_12'
RAW_FILE_DIR = '/data'
OUT_DIR = '/raid/out'
DEBUG = 1
COMPRESS_LEVEL = 1
LINE_LIMIT = 1000
PARALLEL = 1
PIGZ = 0

In [4]:
# Don't change these!
RAW_FILE = '{}/apple_ios__main.json.gz'.format(RAW_FILE_DIR)
OUT_BASE = OUT_DIR+'/{}__apple_ios__main__'+DUMP_DATE+'.csv.gz'

In [5]:
if PIGZ:
    @require(gzip)
    def iter_json_gzip(filename,LINE_LIMIT=LINE_LIMIT):
        return gzip.iter_json_gzip(filename,LINE_LIMIT=LINE_LIMIT)
        
else:
    @require(gzip,ujson)
    def iter_json_gzip(filename,LINE_LIMIT=LINE_LIMIT):
        with gzip.open(filename,'rt') as file_iter:
            for c,line in enumerate(file_iter):
                if c > LINE_LIMIT and LINE_LIMIT>0:
                    break
                if isinstance(line,str):
                    if len(line)>0:        
                        out = ujson.loads(line)
                        if isinstance(out,dict):
                            if 'app_id' in out and 'timestamp' in out:
                                yield out

In [6]:
# Print a couple observations to inspect daw data.
# !zcat "$RAW_FILE"|head -n 100 | tail -n2

# Initialize Parallel Computing

In [ ]:
if PARALLEL:
    ipython_parallel = Client()
    print("{} active computing engines".format(len(ipython_parallel.ids)))

    lbv = ipython_parallel.load_balanced_view()

    map = lambda f,itertable:lbv.map(f,itertable,\
    block =False,\
    ordered =False)

    @require('socket')
    def host(dummy):
        return socket.gethostname()
    
    nodes = list(lbv.map(host,ipython_parallel.ids))

    print(dict(Counter(nodes).items()))

# NEWWEBSITE

In [7]:
@require(iter_json_gzip,gzip,datetime,re,csv)
def NEWWEBSITE(file_in,out_base,compress=1):
    headers = ['app_id','date','url']
    out_filename = out_base.format('NEWWEBSITE')
    running = {}
    with gzip.open(out_filename,'wt',compress) as out_file:
        csv_writer = csv.writer(out_file)
        csv_writer.writerow(headers)
        http = re.compile(r"(http://)|(https://)")
        www = re.compile(r"^www\.")
        ending = re.compile(r"\.(a-z)(.*?)^")
        bad = re.compile(r"\.[a-z]+(.*?)$")
        for json in iter_json_gzip(file_in):
            website = json.get('websiteUrl','')
            if isinstance(website,str):
                website = http.sub('',website).lower()
                website = www.sub('',website)
                website = website.split(r"/")[0]
                bad_str = bad.findall(website)
                if bad_str:
                    website = website.replace(bad_str[0],'')
                if running.get(json['app_id'],'')!=website and len(website)>0:
                    running[json['app_id']] = website
                    day = datetime.datetime.\
                    fromtimestamp(int(json['timestamp']))\
                            .strftime('%Y-%m-%d').strip()
                    obs = (json['app_id'],day,website)
                    csv_writer.writerow(obs)
    return out_filename

In [8]:
df_debug = None
if DEBUG:
    df_debug = read_csv(NEWWEBSITE(RAW_FILE,OUT_BASE,COMPRESS_LEVEL),compression='gzip',header=0)
df_debug

        app_id        date                       url
0    477033794  2013-03-27                mehlau.net
1    465608546  2013-03-27            samratamin.com
2    333208122  2013-03-27      clickerapp.wordpress
3    564550227  2013-03-27               adictum.com
4    366947521  2013-03-27            europhonie.com
5    382827187  2013-03-27       blackstoneaudio.com
6    477679542  2013-03-27  hep-druginteractions.org
7    439268906  2013-03-27           browser-sms.com
8    449609348  2013-03-27               fox3app.com
9    421620053  2013-03-27          pocketbiblia.com
10   378071869  2013-03-27         tumblr.natefanaro
11   333378940  2013-03-27           caramelapps.com
12   467612704  2013-03-27          reverbnation.com
13   588772732  2013-03-27             nexpogroup.ru
14   335308599  2013-03-27             sleepydog.net
15   494794787  2013-03-27               twitter.com
16   382830846  2013-03-27       blackstoneaudio.com
17   568421135  2013-03-27            smartsheet.com
18   288373421  2013-03-27            iphone.welebny
19   346672821  2013-03-27             blocksapp.com
20   370144012  2013-03-27           eknathkadam.com
21   346774550  2013-03-27     my-pocket-learning.fr
22   353415141  2013-03-27    crazyiapps.googlepages
23   582512771  2013-03-27               toystap.com
24   455674840  2013-03-27          metacount.mjbapp
25   404562192  2013-03-27                endgame.dk
26   517283775  2013-03-27             mybestbite.nl
27   525313668  2013-03-27             stalinkay.com
28   435063112  2013-03-27              helseapps.no
29   575180587  2013-03-27             lille-immo.fr
..         ...         ...                       ...
505  374942240  2013-03-27      paramountstudios.com
506  460313468  2013-03-27     indonesia-tourism.com
507  539883017  2013-03-27             base2apps.com
508  522061622  2013-03-27            iguitarmag.com
509  409293068  2013-03-27              funmusic.com
510  381682103  2013-03-27             euromaster.fr
511  328168339  2013-03-27           vadikliving.net
512  328934720  2013-03-27          abandonedapp.com
513  374505760  2013-03-27          imobilesofts.com
514  410794319  2013-03-27           mobivention.com
515  463922586  2013-03-27             hollender.com
516  449267558  2013-03-27           startribune.com
517  394901560  2013-03-27               rosmedia.eu
518  469942514  2013-03-27         cbankandtrust.com
519  507402402  2013-03-27             adalianet.com
520  406637778  2013-03-27        abstechnologies.in
521  614435478  2013-03-27              yalebooks.co
522  544970337  2013-03-27               razmobi.com
523  409354774  2013-03-27               unknown.com
524  398488020  2013-03-27        astroninfotech.com
525  391801888  2013-03-27             21qonline.com
526  306215672  2013-03-27       charlesjamerlan.com
527  352609414  2013-03-27               chlorus.net
528  413903348  2013-03-27        searchonsocial.com
529  496313738  2013-03-27                   rvrb.fm
530  414113560  2013-03-27             top-torah.com
531  516924704  2013-03-27           pxelsbypaul.com
532  405622181  2013-03-27                    ea.com
533  451288104  2013-03-27           planet-soul.com
534  468404895  2013-03-27         programersoft.com

[535 rows x 3 columns]

# NEWSUPPORTURL

In [9]:
@require(iter_json_gzip,gzip,datetime,re,csv)
def NEWSUPPORTURL(file_in,out_base,compress=1):
    headers = ['app_id','date','support_url']
    out_filename = out_base.format('NEWSUPPORTURL')
    running = {}
    with gzip.open(out_filename,'wt',compress) as out_file:
        csv_writer = csv.writer(out_file)
        csv_writer.writerow(headers)
        http = re.compile(r"(http://)|(https://)")
        www = re.compile(r"^www\.")
        ending = re.compile(r"\.(a-z)(.*?)^")
        bad = re.compile(r"\.[a-z]+(.*?)$")
        for json in iter_json_gzip(file_in):
            website = json.get('supportUrl','')
            if isinstance(website,str):
                website = http.sub('',website).lower()
                website = www.sub('',website)
                website = website.split(r"/")[0]
                bad_str = bad.findall(website)
                if bad_str:
                    website = website.replace(bad_str[0],'')
                if running.get(json['app_id'],'')!=website and len(website)>0:
                    running[json['app_id']] = website
                    day = datetime.datetime.\
                    fromtimestamp(int(json['timestamp']))\
                            .strftime('%Y-%m-%d').strip()
                    obs = (json['app_id'],day,website)
                    csv_writer.writerow(obs)
    return out_filename

In [10]:
df_debug = None
if DEBUG:
    df_debug = read_csv(NEWSUPPORTURL(RAW_FILE,OUT_BASE,COMPRESS_LEVEL),compression='gzip',header=0)
df_debug

         app_id        date                 support_url
0     477033794  2013-03-27                  mehlau.net
1     494296216  2013-03-27              cardisport.com
2     465608546  2013-03-27              samratamin.com
3     498191169  2013-03-27               depiltech.com
4     333208122  2013-03-27        clickerapp.wordpress
5     447548412  2013-03-27         horizoninc.blogspot
6     568386333  2013-03-27  thedigitalnotebookcom.ning
7     564550227  2013-03-27                 adictum.com
8     555915492  2013-03-27                   sebast.in
9     480092632  2013-03-27                  app.xinmin
10    366947521  2013-03-27              europhonie.com
11    518504981  2013-03-27               velascoti.com
12    382827187  2013-03-27          foliumpartners.com
13    487978078  2013-03-27            mobileroadie.com
14    574240086  2013-03-27              coinpedia.info
15    477679542  2013-03-27    hep-druginteractions.org
16    523502051  2013-03-27                     hi.csdn
17    439268906  2013-03-27             browser-sms.com
18    449609348  2013-03-27                 fox3app.com
19    485213368  2013-03-27                meyetech.com
20    421620053  2013-03-27            pocketbiblia.com
21    555646787  2013-03-27                  headley.co
22    378071869  2013-03-27              natefanaro.com
23    333378940  2013-03-27             caramelapps.com
24    467612704  2013-03-27        support.reverbnation
25    560066403  2013-03-27              mypassbook.com
26    375126481  2013-03-27                   inmite.eu
27    397911872  2013-03-27                  heiban.org
28    588772732  2013-03-27               nexpogroup.ru
29    335308599  2013-03-27               sleepydog.net
...         ...         ...                         ...
971   511306890  2013-03-27              imedjugorje.it
972   507402402  2013-03-27               adalianet.com
973   406637778  2013-03-27          abstechnologies.in
974   588344397  2013-03-27               codespoon.com
975   614435478  2013-03-27              aimermedia.com
976   535705715  2013-03-27                    arity.jp
977   544970337  2013-03-27                 razmobi.com
978   422133414  2013-03-27             arutilities.com
979   409354774  2013-03-27                 unknown.com
980   570615284  2013-03-27      mcflyentertainment.com
981   398488020  2013-03-27          astroninfotech.com
982   391801888  2013-03-27               21qonline.com
983   306215672  2013-03-27         charlesjamerlan.com
984   449577861  2013-03-27                app.hiqingyi
985   501943048  2013-03-27                 lpracks.com
986   352609414  2013-03-27                 chlorus.net
987   494238968  2013-03-27                   davka.com
988   413903348  2013-03-27          searchonsocial.com
989   496313738  2013-03-27        support.reverbnation
990   516330695  2013-03-27       wizardinteractive.net
991   414113560  2013-03-27                toptorah.com
992   443547017  2013-03-27            mobileroadie.com
993   516924704  2013-03-27             pxelsbypaul.com
994   539799483  2013-03-27          behindthecades.com
995   421167659  2013-03-27               fpstudios.com
996   405622181  2013-03-27                     help.ea
997   451288104  2013-03-27             planet-soul.com
998   468404895  2013-03-27           programersoft.com
999   556545516  2013-03-27            tamaroffauto.com
1000  442107865  2013-03-27                metrowny.com

[1001 rows x 3 columns]

# NEWSIMILAR5

In [11]:
@require(iter_json_gzip,gzip,datetime,re,csv)
def NEWSIMILAR5(file_in,out_base,compress=1,number_similar = 5):
    headers = ['app_id','date']+ ['related{}'.format(x) \
                                  for x in range(1,number_similar+1)]
    out_filename = out_base.format('NEWSIMILAR{}'.format(number_similar))
    running = {}
    with gzip.open(out_filename,'wt',9) as out_file:
        csv_writer = csv.writer(out_file)
        csv_writer.writerow(headers)
        for json in iter_json_gzip(file_in):
            related = json.get('customersAlsoBoughtApps',[])
            if related:
                related = sorted(map(str, related[:number_similar]))
                joined = ",".join(related)
                if running.get(json['app_id'],'')!=joined:
                    running[json['app_id']] = joined
                    day = datetime.datetime.\
                    fromtimestamp(int(json['timestamp']))\
                            .strftime('%Y-%m-%d').strip()
                    csv_writer.writerow([json['app_id'],day]+ related)
    return out_filename

In [12]:
df_debug = None
if DEBUG:
    df_debug = read_csv(NEWSIMILAR5(RAW_FILE,OUT_BASE,COMPRESS_LEVEL),compression='gzip',header=0)
df_debug

,app_id,date,related1,related2,related3,related4,related5
0,477033794,2013-03-27,463172573,476111536,477118369,480263826,486193487
1,494296216,2013-03-27,366078960,369126115,374898077,375665838,448951342
2,498191169,2013-03-27,437230078,495633812,495634760,497355840,502822501
3,333208122,2013-03-27,299133914,306936948,322326573,346602357,355240912
4,447548412,2013-03-27,416481779,420293260,424369605,447348181,449447049
5,564550227,2013-03-27,347920422,435068192,483708404,516961984,561743558
6,366947521,2013-03-27,284675296,288362576,290853822,364736446,364898723
7,487978078,2013-03-27,399512777,404929463,472339511,489434033,491633903
8,477679542,2013-03-27,451730311,461838768,466516740,466545022,495049076
9,523502051,2013-03-27,532084783,533680443,534949476,536288546,537851997
10,439268906,2013-03-27,281796108,299616801,357852748,367804841,398798399
11,449609348,2013-03-27,347672384,385275424,402424695,431196720,459376080
12,485213368,2013-03-27,357687459,364870925,407915644,427912786,465809789
13,555646787,2013-03-27,341446764,NaN,NaN,NaN,NaN
14,378071869,2013-03-27,381336863,382733068,384097052,386510813,387302636
15,467612704,2013-03-27,351828437,462816344,463471236,469054419,472229228
16,375126481,2013-03-27,288815275,313478124,330374653,NaN,NaN
17,335308599,2013-03-27,441892892,465607145,480454939,493158545,502100959
18,494794787,2013-03-27,293258418,377282301,480358158,487608868,488025044
19,453464364,2013-03-27,414587395,432756129,450123180,451702172,454945982
20,568421135,2013-03-27,308324272,337842859,486116463,492134207,543762498
21,547894541,2013-03-27,495637988,511293783,537249122,540959652,547874548
22,288373421,2013-03-27,289187333,293633014,301027289,318659396,324462544
23,346672821,2013-03-27,353410847,363207607,363658120,363799703,364616409
24,370144012,2013-03-27,363905936,368406942,369606383,370086297,370335965
25,353415141,2013-03-27,350068867,355014509,359393306,363917117,364207821
26,327519114,2013-03-27,348796366,364790003,365637687,368622230,NaN
27,582512771,2013-03-27,479159786,509360393,536418934,554890856,569860123
28,455674840,2013-03-27,453974860,454557072,455327076,455360287,456571138
29,404562192,2013-03-27,379257570,380918768,389979774,398387883,401910919
...,...,...,...,...,...,...,...
624,409293068,2013-03-27,313126620,377031540,410016967,415968841,416453829
625,381682103,2013-03-27,328172261,337820456,338550388,379687930,382227887
626,563077606,2013-03-27,316793974,422661436,446912582,NaN,NaN
627,328168339,2013-03-27,310738695,NaN,NaN,NaN,NaN
628,548875415,2013-03-27,332227346,386156993,505259774,513110520,524002165
629,489196274,2013-03-27,360225017,404911302,419408603,465943777,503356717
630,527016768,2013-03-27,503607145,513239565,520438867,532487984,539341546
631,421349411,2013-03-27,356641455,410821142,429897985,431269615,432156279
632,328934720,2013-03-27,294190055,294865266,307167307,364903314,NaN
633,410794319,2013-03-27,403216401,419304950,436335420,439247753,448298345
634,449267558,2013-03-27,378080191,406349184,418338597,424995513,447687307
635,469942514,2013-03-27,466480322,471864210,472313754,476351842,477216747
636,507402402,2013-03-27,445247510,488677571,503887376,566543573,586196905
637,406637778,2013-03-27,448269476,459425226,463168699,491263100,493917879
638,535705715,2013-03-27,529845929,534437092,537624198,537680738,537965126
639,544970337,2013-03-27,449872707,456080018,461393866,497618160,560887339
640,422133414,2013-03-27,365445568,449783739,451923550,455602152,459693056
641,409354774,2013-03-27,398855278,412018220,413895126,417403930,427543193
642,398488020,2013-03-27,381089770,381673323,391432693,394253449,398207953
643,501943048,2013-03-27,374241388,419864550,426938378,451984805,477724531
644,352609414,2013-03-27,295836553,NaN,NaN,NaN,NaN
645,413903348,2013-03-27,382985043,385673887,395355015,403434354,411738505
646,496313738,2013-03-27,495121467,496635863,498801463,499011520,499027989
647,443547017,2013-03-27,306071259,360311014,412725768,423962784,454753605
648,516924704,2013-03-27,331975235,439438619,NaN,NaN,NaN
649,539799483,2013-03-27,534859004,534949476,536288546,538445329,538821860
650,421167659,2013-03-27,398644286,406165160,407468529,415014558,438309491
651,405622181,2013-03-27,378326916,405824661,408257810,423803502,457687954
652,468404895,2013-03-27,398150197,433363203,437472550,455055887,457234939
653,442107865,2013-03-27,395226194,396670001,401572843,412371793,412518387

#NEWSIMILAR10

In [13]:
@require(NEWSIMILAR5)
def NEWSIMILAR10(RAW_FILE,OUT_BASE,COMPRESS_LEVEL):
    return NEWSIMILAR5(RAW_FILE,OUT_BASE,COMPRESS_LEVEL,10)

In [14]:
df_debug = None
if DEBUG:
    df_debug = read_csv(NEWSIMILAR10(RAW_FILE,OUT_BASE,COMPRESS_LEVEL),compression='gzip',header=0)
df_debug

,app_id,date,related1,related2,related3,related4,related5,related6,related7,related8,related9,related10
0,477033794,2013-03-27,455573319,463172573,469793113,473985418,474107923,476111536,477118369,477798242,480263826,486193487
1,494296216,2013-03-27,318133983,350597352,356928178,364303981,366078960,369126115,374898077,375665838,448951342,NaN
2,498191169,2013-03-27,437230078,450464530,495633812,495634760,497355840,502822501,NaN,NaN,NaN,NaN
3,333208122,2013-03-27,299133914,306936948,322326573,325403123,325507000,330482882,343532880,346602357,348642100,355240912
4,447548412,2013-03-27,364823150,377875279,387434956,416481779,420293260,424369605,447312716,447348181,449447049,449564960
5,564550227,2013-03-27,347920422,401797164,435068192,474768200,483708404,514363426,516961984,535664708,561743558,570615299
6,366947521,2013-03-27,284675296,288362576,290853822,364736446,364898723,NaN,NaN,NaN,NaN,NaN
7,487978078,2013-03-27,386325076,399512777,404929463,433397856,447727693,449141235,472339511,486796173,489434033,491633903
8,477679542,2013-03-27,338597829,371961189,381789014,397417517,451730311,461838768,466516740,466545022,494198191,495049076
9,523502051,2013-03-27,507769562,532084783,532663833,533680443,534949476,536288546,537062589,537851997,538445329,539983826
10,439268906,2013-03-27,281796108,293561396,299616801,303656546,357852748,363448914,364617858,367804841,379424610,398798399
11,449609348,2013-03-27,347672384,385275424,387334278,402424695,404649255,431196720,434048820,459376080,468052200,510673168
12,485213368,2013-03-27,335734063,349444644,357687459,364870925,364876095,405224089,407915644,427912786,465809789,482946817
13,555646787,2013-03-27,341446764,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,378071869,2013-03-27,322126365,380678475,381336863,382733068,384097052,384550232,384680447,385135145,386510813,387302636
15,467612704,2013-03-27,302007784,351828437,458685475,462816344,463471236,464941210,468124935,469054419,471862941,472229228
16,375126481,2013-03-27,288815275,313478124,330374653,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,335308599,2013-03-27,441892892,456972411,457470544,465607145,480454939,484266494,491402414,493158545,497253279,502100959
18,494794787,2013-03-27,293258418,371457054,377282301,414062779,464923817,465635260,480358158,486067538,487608868,488025044
19,453464364,2013-03-27,397788260,414587395,425094809,432756129,449210590,450123180,450655672,451702172,452954233,454945982
20,568421135,2013-03-27,306289289,308324272,337842859,398084562,444623375,486116463,492134207,525010205,539362490,543762498
21,547894541,2013-03-27,377666930,423788470,441446685,471347442,495637988,507881153,511293783,537249122,540959652,547874548
22,288373421,2013-03-27,289187333,293633014,301027289,301539878,302221931,318659396,323860863,324462544,325451639,331518681
23,346672821,2013-03-27,353410847,362562850,363207607,363658120,363799703,364151187,364616409,364704442,365500165,365541422
24,370144012,2013-03-27,333284085,348741481,363905936,365561599,367083194,368406942,369606383,370086297,370099383,370335965
25,353415141,2013-03-27,322149014,346602357,348796366,350068867,355014509,359393306,360692282,363917117,364207821,364577117
26,327519114,2013-03-27,348796366,364790003,365637687,368622230,NaN,NaN,NaN,NaN,NaN,NaN
27,582512771,2013-03-27,453173947,479159786,509360393,536418934,545944457,554890856,569860123,574236314,581923985,587464668
28,455674840,2013-03-27,451472168,452268046,453974860,454557072,455222907,455327076,455360287,455576715,455844553,456571138
29,404562192,2013-03-27,379257570,380918768,389979774,393567084,395685136,398293177,398387883,400276688,401910919,403349792
...,...,...,...,...,...,...,...,...,...,...,...,...
624,409293068,2013-03-27,313126620,377031540,380882753,398886394,410016967,412856003,415968841,416453829,446295189,446433795
625,381682103,2013-03-27,289429962,304075033,306846936,312941044,315020789,328172261,337820456,338550388,379687930,382227887
626,563077606,2013-03-27,316793974,422661436,446912582,NaN,NaN,NaN,NaN,NaN,NaN,NaN
627,328168339,2013-03-27,310738695,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
628,548875415,2013-03-27,332227346,356928178,364303981,386156993,500138120,505259774,505457367,513110520,524002165,530161201
629,489196274,2013-03-27,360225017,404911302,409956586,419408603,432366955,435181141,449940322,465943777,480842167,503356717
630,527016768,2013-03-27,498811218,503607145,510578760,510624750,513239565,515857087,520438867,530747497,532487984,539341546
631,421349411,2013-03-27,327373388,356641455,410821142,429897985,431269615,432156279,448979441,NaN,NaN,NaN
632,328934720,2013-03-27,294190055,294865266,307167307,364903314,NaN,NaN,NaN,NaN,NaN,NaN
633,410794319,2013-03-27,403216401,407093179,419304950,436335420,439247753,439249113,439275253,445359859,448298345,449089526
634,449267558,2013-03-27,378080191,396885309,397599894,406349184,410389088,418338597,424995513,429918909,447687307,456927730
635,469942514,2013-03-27,418014625,465929594,466480322,470232618,471864210,472313754,474591239,476351842,477216747,479569842
636,507402402,2013-03-27,445247510,480668751,488677571,503887376,510326416,566543573,575142344,578592516,581537106,586196905
637,406637778,2013-03-27,429206556,448269476,452521647,455947600,459425226,463168699,479505994,491263100,492415154,493917879
638,535705715,2013-03-27,529845929,534190673,534437092,534611833,536173859,536579009,537276070,537624198,537680738,537965126
639,544970337,2013-03-27,287647537,367637700,382287127,394611607,449872707,456080018,461393866,497618160,560887339,569322760
640,422133414,2013-03-27,365445568,432048548,449783739,451526811,451903398,451923550,452522283,455149472,455602152,459693056
641,409354774,2013-03-27,398855278,410061506,412018220,413895126,417403930,418749889,427543193,432087814,440207142,440971805
642,398488020,2013-03-27,303908638,358207332,379161948,380090605,381089770,381673323,388628642,391432693,394253449,398207953
643,501943048,2013-03-27,319803413,339793797,340295413,363455392,374241388,419864550,426938378,451984805,477724531,487473473
644,352609414,2013-03-27,295836553,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
645,413903348,2013-03-27,382985043,385673887,391609299,395355015,403434354,406870483,410652442,410653468,411738505,415518686
646,496313738,2013-03-27,485903800,495121467,496207309,496417951,496635863,498062576,498660119,498801463,499011520,499027989
647,443547017,2013-03-27,306071259,360311014,382049291,392472624,412725768,423962784,442410792,454361459,454753605,460175493
648,516924704,2013-03-27,331975235,439438619,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
649,539799483,2013-03-27,510718715,534859004,534949476,536288546,537409860,538445329,538493158,538821860,539710081,540303274
650,421167659,2013-03-27,351448383,364867911,365660185,398644286,406165160,407468529,415014558,430920838,434833999,438309491
651,405622181,2013-03-27,294919686,374170726,378326916,384464800,388932738,390422167,405824661,408257810,423803502,457687954
652,468404895,2013-03-27,398150197,408697793,420866186,424818320,433363203,437472550,455055887,456107545,457234939,458239036
653,442107865,2013-03-27,318200406,319577875,327189093,331365449,395226194,396670001,401572843,412371793,412518387,424086704

# NEWSIMILAR15

In [15]:
@require(NEWSIMILAR5)
def NEWSIMILAR15(RAW_FILE,OUT_BASE,COMPRESS_LEVEL):
    return NEWSIMILAR5(RAW_FILE,OUT_BASE,COMPRESS_LEVEL,15)

In [16]:
df_debug = None
if DEBUG:
    df_debug = read_csv(NEWSIMILAR15(RAW_FILE,OUT_BASE,COMPRESS_LEVEL),compression='gzip',header=0)
df_debug

,app_id,date,related1,related2,related3,related4,related5,related6,related7,related8,related9,related10,related11,related12,related13,related14,related15
0,477033794,2013-03-27,433576141,455573319,463172573,469793113,473237097,473985418,474107923,476111536,476134298,477118369,477798242,477917670,480263826,486193487,488756266
1,494296216,2013-03-27,318133983,350597352,356928178,364303981,366078960,369126115,374898077,375665838,448951342,NaN,NaN,NaN,NaN,NaN,NaN
2,498191169,2013-03-27,437230078,450464530,495633812,495634760,497355840,502822501,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,333208122,2013-03-27,299133914,306936948,322326573,325403123,325507000,330482882,343532880,346602357,348642100,355240912,NaN,NaN,NaN,NaN,NaN
4,447548412,2013-03-27,364197515,364823150,377631532,377875279,387434956,394578286,410521340,416481779,420293260,423778662,424369605,447312716,447348181,449447049,449564960
5,564550227,2013-03-27,347920422,369741034,401797164,403588421,405338085,435068192,456471024,474768200,481898807,483708404,514363426,516961984,535664708,561743558,570615299
6,366947521,2013-03-27,284675296,288362576,290853822,364736446,364898723,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,487978078,2013-03-27,339711087,386325076,399512777,404929463,411288619,419614880,433397856,438379240,447727693,449141235,455072135,472339511,486796173,489434033,491633903
8,477679542,2013-03-27,338597829,371961189,381789014,397417517,429500130,451730311,461838768,466516740,466545022,474197854,475736262,488876970,494198191,494288509,495049076
9,523502051,2013-03-27,507769562,524144163,532084783,532663833,533680443,534949476,535116158,536288546,537062589,537851997,538445329,539710081,539983826,541840574,542241980
10,439268906,2013-03-27,281796108,293561396,294150896,299616801,303656546,357852748,363448914,364617858,367804841,379424610,398798399,NaN,NaN,NaN,NaN
11,449609348,2013-03-27,347672384,385275424,387334278,402424695,404649255,419032728,431196720,434048820,456892802,459376080,468052200,486018296,506499656,510673168,522375168
12,485213368,2013-03-27,281796108,299616801,335734063,349444644,352019548,357687459,364870925,364876095,393149734,393316844,405224089,407915644,427912786,465809789,482946817
13,555646787,2013-03-27,341446764,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,378071869,2013-03-27,322126365,378763462,380678475,380878786,381336863,382733068,382996892,384097052,384132893,384550232,384680447,385135145,386270653,386510813,387302636
15,467612704,2013-03-27,302007784,351828437,407752080,447202098,458685475,462816344,463202994,463471236,464775965,464941210,468124935,469054419,471862941,472229228,472339511
16,375126481,2013-03-27,288815275,313478124,330374653,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,335308599,2013-03-27,375888117,430755728,441421503,441892892,456972411,457470544,465607145,480454939,480922544,484266494,489431005,491402414,493158545,497253279,502100959
18,494794787,2013-03-27,293258418,371457054,377282301,409785647,414062779,436105157,449628639,464923817,465635260,468319342,480358158,486067538,487608868,488025044,496742098
19,453464364,2013-03-27,389957954,397788260,412339731,414587395,425094809,432756129,438805266,441205126,449210590,449457690,450123180,450655672,451702172,452954233,454945982
20,568421135,2013-03-27,305796271,306289289,308324272,337842859,348792440,398084562,444623375,445143244,462996758,486116463,489969512,492134207,525010205,539362490,543762498
21,547894541,2013-03-27,377666930,396319082,423788470,441446685,466248856,466249940,471347442,495637988,507881153,511293783,518692813,537249122,540959652,547860980,547874548
22,288373421,2013-03-27,286627793,289187333,293633014,298037861,298206806,301027289,301539878,302221931,303226571,309730872,318659396,323860863,324462544,325451639,331518681
23,346672821,2013-03-27,348642100,348787472,353410847,362562850,363207607,363658120,363799703,364151187,364578808,364614389,364616409,364704442,364744918,365500165,365541422
24,370144012,2013-03-27,324651852,327702034,330482882,333284085,348741481,363905936,364894352,364894399,365561599,367083194,368406942,369606383,370086297,370099383,370335965
25,353415141,2013-03-27,289520197,313893817,322149014,346602357,348124237,348795441,348796366,350068867,355014509,359393306,360692282,363917117,364207821,364577117,364617858
26,327519114,2013-03-27,348796366,364790003,365637687,368622230,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,582512771,2013-03-27,453173947,471320920,471596182,477051614,479159786,509360393,536418934,545944457,554890856,569860123,570571950,570584435,574236314,581923985,587464668
28,455674840,2013-03-27,448867384,451472168,452268046,453974860,454557072,455222907,455268232,455327076,455360287,455576715,455844553,455928934,456571138,459488263,461455736
29,404562192,2013-03-27,379257570,380918768,389979774,393567084,393911245,395685136,398293177,398387883,400276688,401402343,401910919,403349792,404517483,405429063,405435690
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
624,409293068,2013-03-27,313126620,377031540,380882753,384216901,385488684,398886394,405391016,410001686,410016967,410496349,412856003,415968841,416453829,446295189,446433795
625,381682103,2013-03-27,289429962,304075033,306846936,312941044,315020789,328172261,337820456,338550388,359580470,379687930,382227887,NaN,NaN,NaN,NaN
626,563077606,2013-03-27,316793974,422661436,446912582,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
627,328168339,2013-03-27,310738695,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
628,548875415,2013-03-27,318133983,332227346,356928178,364303981,386156993,500138120,505259774,505457367,513110520,524002165,530161201,NaN,NaN,NaN,NaN
629,489196274,2013-03-27,301558273,360225017,371335878,404911302,407580539,409956586,419408603,432366955,435181141,444782268,449940322,465943777,480842167,503356717,503549709
630,527016768,2013-03-27,375050578,415637882,416300922,483119449,498811218,500152585,503607145,510578760,510624750,513239565,515857087,520438867,530747497,532487984,539341546
631,421349411,2013-03-27,327373388,356641455,410821142,429897985,431269615,432156279,448979441,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
632,328934720,2013-03-27,294190055,294865266,307167307,364903314,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
633,410794319,2013-03-27,403216401,407093179,411642109,413895698,419304950,434403620,436335420,439247753,439249113,439275253,445359859,446822719,448298345,449089526,451131855
634,449267558,2013-03-27,378080191,396885309,397599894,403426652,406349184,409389010,410389088,416357699,418338597,418572455,420397564,424995513,429918909,447687307,456927730
635,469942514,2013-03-27,363710994,418014625,437092808,465929594,466480322,470232618,471692532,471864210,472313754,474591239,475099959,476351842,477216747,479569842,481606178
636,507402402,2013-03-27,371695631,407929649,411293824,445247510,480668751,488677571,492598590,503887376,510326416,566543573,574012982,575142344,578592516,581537106,586196905
637,406637778,2013-03-27,379842672,429206556,441907577,448269476,452521647,455947600,459425226,462069432,463168699,465687263,471741577,479505994,491263100,492415154,493917879
638,535705715,2013-03-27,529845929,534190673,534437092,534611833,534935688,535532591,535747381,536173859,536579009,537163748,537276070,537624198,537680738,537965126,541519090
639,544970337,2013-03-27,287647537,367637700,382287127,394611607,406247161,449872707,456080018,461393866,479516143,497618160,545229893,549432779,560887339,569322760,578918820
640,422133414,2013-03-27,365445568,431477126,432048548,445488379,448918662,449783739,451039411,451526811,451903398,451923550,452083260,452522283,455149472,455602152,459693056
641,409354774,2013-03-27,398855278,398855664,400530427,410061506,412018220,413895126,414865190,415892248,417403930,418749889,421345162,427543193,432087814,440207142,440971805
642,398488020,2013-03-27,303908638,336802765,358207332,366755447,376779082,379161948,380090605,381089770,381673323,384298160,388628642,389294575,391432693,394253449,398207953
643,501943048,2013-03-27,319803413,323822803,329334877,339793797,340295413,363455392,374241388,398554270,412690467,419864550,426938378,451984805,475188706,477724531,487473473
644,352609414,2013-03-27,295836553,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
645,413903348,2013-03-27,347006103,382985043,385673887,385926948,391609299,395355015,403434354,406870483,409176264,410652442,410653468,411738505,415518686,419124175,444698030
646,496313738,2013-03-27,472650873,472654319,485903800,495121467,496207309,496417951,496552616,496635863,498062576,498660119,498801463,499011520,499027989,500235646,500704297
647,443547017,2013-03-27,306071259,333193388,347409277,360311014,382049291,386402959,392472624,402757265,409485216,412725768,423962784,442410792,454361459,454753605,460175493
648,516924704,2013-03-27,331975235,439438619,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
649,539799483,2013-03-27,510718715,528993449,530553607,534859004,534949476,536157715,536288546,537409860,537851997,538445329,538493158,538821860,539134110,539710081,540303274
650,421167659,2013-03-27,351448383,364867911,365660185,380507600,383152745,386800660,398644286,406165160,407468529,410537253,415014558,430920838,434833999,438309491,454958810
651,405622181,2013-03-27,286106725,294919686,374170726,378326916,384464800,388932738,389941080,390422167,400492358,405824661,408257810,423803502,432504470,457687954,476274173
652,468404895,2013-03-27,398150197,408697793,420866186,423803502,424818320,432874406,433363203,437472550,443718159,449811104,455055887,455533949,456107545,457234939,458239036
653,442107865,2013-03-27,318200406,319577875,327189093,331365449,346612502,363624354,395226194,396670001,399532778,401572843,412371793,412518387,424086704,426415850,453571756

# DAILYRATINGS

In [17]:
@require(iter_json_gzip,gzip,datetime,re,csv)
def DAILYRATINGS(file_in,out_base,compress=1):
    headers = ['app_id','date','rating5','rating4','rating3','rating2','rating1']
    out_filename = out_base.format('DAILYRATINGS')
    unique_daily_rating = set()
    with gzip.open(out_filename,'wt',9) as out_file:
        csv_writer = csv.writer(out_file)
        csv_writer.writerow(headers)
        for json in iter_json_gzip(file_in):
            day = datetime.datetime.fromtimestamp(int(json['timestamp']))\
                                .strftime('%Y-%m-%d')
            rating = json.get('ratingCountList',None)
            if rating:
                obs = (json['app_id'],day,tuple(rating),)
                if hash(obs) not in unique_daily_rating:
                    unique_daily_rating.add(hash(obs))
                    csv_writer.writerow([json['app_id'],day]+rating)
    return out_filename

In [18]:
df_debug = None
if DEBUG:
    df_debug = read_csv(DAILYRATINGS(RAW_FILE,OUT_BASE,COMPRESS_LEVEL),compression='gzip',header=0)
df_debug

        app_id        date  rating5  rating4  rating3  rating2  rating1
0    333208122  2013-03-27      233       99      112       76      319
1    447548412  2013-03-27        1        1        1        0        9
2    333378940  2013-03-27        3        0        2        0        4
3    494794787  2013-03-27        3        1        1        0        5
4    469990268  2013-03-27       44        3       13       13       74
5    568421135  2013-03-27       15        5        8       10       29
6    288373421  2013-03-27       55       33       25       17       30
7    346672821  2013-03-27        4        3        7       10       44
8    353415141  2013-03-27       17        9        4        3       14
9    327519114  2013-03-27       35       11       12        4        7
10   582512771  2013-03-27        3        0        1        0        1
11   404562192  2013-03-27        3        0        2        2        1
12   493770844  2013-03-27        4        0        1        1       20
13   437242870  2013-03-27        1        3        5        1        1
14   528163921  2013-03-27        8        3        3       14       25
15   597378625  2013-03-27        0        0        1        2       78
16   427932413  2013-03-27        2        5        8       13       27
17   405992810  2013-03-27        3        2        2       10       17
18   547831264  2013-03-27       11        4        9       24       89
19   353022263  2013-03-27        4        2        3        2        3
20   501074772  2013-03-27        8        1        2        2       14
21   435347306  2013-03-27        0        3        5       10       11
22   531561519  2013-03-27        1        1        0        0       24
23   350792925  2013-03-27       95        4        4        2       43
24   333262493  2013-03-27        3        1        0        0        1
25   311967376  2013-03-27      344      101       94       54      191
26   585981070  2013-03-27        2        0        0        1        2
27   374191976  2013-03-27       55       32       49       45      151
28   566329593  2013-03-27        3        3        2        2       22
29   321010010  2013-03-27        1        5        6        4        7
..         ...         ...      ...      ...      ...      ...      ...
183  369606498  2013-03-27       96       58       64       50       96
184  468674805  2013-03-27       26       16       12       24       32
185  462142958  2013-03-27       10        4        5        4       10
186  330784034  2013-03-27       79       41       44       29       99
187  476316481  2013-03-27       18       15       31       48      106
188  546407789  2013-03-27       90       30       25       38      229
189  406969208  2013-03-27       36       28       40       54      283
190  441143343  2013-03-27        4        1        0        2        7
191  463454413  2013-03-27       27       12       20        8       36
192  439449554  2013-03-27        3        0        4        5       23
193  505847168  2013-03-27       22        5       12       50      327
194  319957527  2013-03-27        5        4        2        3        1
195  413553606  2013-03-27        1        0        2        1        5
196  453176734  2013-03-27        1        0        0        3       13
197  533905419  2013-03-27        5        0        1        0        8
198  551341656  2013-03-27        0        0        1        5       27
199  378757624  2013-03-27        4        4        2        0        1
200  478126577  2013-03-27       86       33       44      104      506
201  370794522  2013-03-27        4        0        1        0        1
202  349168262  2013-03-27       50       26       17       20       13
203  489196274  2013-03-27       84       20       10       13       74
204  328934720  2013-03-27       72       30       39       29       72
205  410794319  2013-03-27       32       20       59       76      151
206  449267558  2013-03-27      172      118      200      401      315
207  409354774  2013-03-27        4        1        0        0        2
208  391801888  2013-03-27        5        2        0        0        6
209  449577861  2013-03-27       38        3        2        0       38
210  352609414  2013-03-27        4        1        1        0        2
211  421167659  2013-03-27       12        2        1        0        4
212  405622181  2013-03-27     1199      611      674      892     2723

[213 rows x 7 columns]

# DAILYRATINGSCURRENT

In [19]:
@require(iter_json_gzip,gzip,datetime,re,csv)
def DAILYRATINGSCURRENT(file_in,out_base,compress=1):
    headers = ['app_id','date','rating5','rating4','rating3','rating2','rating1']
    out_filename = out_base.format('DAILYRATINGSCURRENT')
    unique_daily_rating = set()
    with gzip.open(out_filename,'wt',compress) as out_file:
        csv_writer = csv.writer(out_file)
        csv_writer.writerow(headers)
        for json in iter_json_gzip(file_in):
            day = datetime.datetime.fromtimestamp(int(json['timestamp']))\
                                .strftime('%Y-%m-%d')
            rating = json.get('ratingCountList_current',None)
            if rating:
                obs = (json['app_id'],day,tuple(rating),)
                if hash(obs) not in unique_daily_rating:
                    unique_daily_rating.add(hash(obs))
                    csv_writer.writerow([json['app_id'],day]+rating)
    return out_filename

In [20]:
# Will be empty because this variable wasn't scraped for the first couple million observations
df_debug = None
if DEBUG:
    df_debug = read_csv(DAILYRATINGSCURRENT(RAW_FILE,OUT_BASE,COMPRESS_LEVEL),compression='gzip',header=0)
df_debug

Empty DataFrame
Columns: [app_id, date, rating5, rating4, rating3, rating2, rating1]
Index: []

# WEEKLYRATINGS

In [21]:
@require(iter_json_gzip,gzip,datetime,re,csv)
def WEEKLYRATINGS(file_in,out_base,compress=1):
    headers = ['app_id','year','week','rating5','rating4','rating3','rating2','rating1']
    out_filename = out_base.format('WEEKLYRATINGS')
    unique_daily_rating = set()
    with gzip.open(out_filename,'wt',9) as out_file:
        csv_writer = csv.writer(out_file)
        csv_writer.writerow(headers)
        for json in iter_json_gzip(file_in):
            year,week = datetime.datetime.fromtimestamp(int(json['timestamp']))\
                                .isocalendar()[:2]
            rating = json.get('ratingCountList',None)
            if rating:
                obs = (json['app_id'],year,week)
                if hash(obs) not in unique_daily_rating:
                    unique_daily_rating.add(hash(obs))
                    csv_writer.writerow([json['app_id'],year,week]+rating)
    return out_filename

In [22]:
df_debug = None
if DEBUG:
    df_debug = read_csv(WEEKLYRATINGS(RAW_FILE,OUT_BASE,COMPRESS_LEVEL),compression='gzip',header=0)
df_debug

        app_id  year  week  rating5  rating4  rating3  rating2  rating1
0    333208122  2013    13      233       99      112       76      319
1    447548412  2013    13        1        1        1        0        9
2    333378940  2013    13        3        0        2        0        4
3    494794787  2013    13        3        1        1        0        5
4    469990268  2013    13       44        3       13       13       74
5    568421135  2013    13       15        5        8       10       29
6    288373421  2013    13       55       33       25       17       30
7    346672821  2013    13        4        3        7       10       44
8    353415141  2013    13       17        9        4        3       14
9    327519114  2013    13       35       11       12        4        7
10   582512771  2013    13        3        0        1        0        1
11   404562192  2013    13        3        0        2        2        1
12   493770844  2013    13        4        0        1        1       20
13   437242870  2013    13        1        3        5        1        1
14   528163921  2013    13        8        3        3       14       25
15   597378625  2013    13        0        0        1        2       78
16   427932413  2013    13        2        5        8       13       27
17   405992810  2013    13        3        2        2       10       17
18   547831264  2013    13       11        4        9       24       89
19   353022263  2013    13        4        2        3        2        3
20   501074772  2013    13        8        1        2        2       14
21   435347306  2013    13        0        3        5       10       11
22   531561519  2013    13        1        1        0        0       24
23   350792925  2013    13       95        4        4        2       43
24   333262493  2013    13        3        1        0        0        1
25   311967376  2013    13      344      101       94       54      191
26   585981070  2013    13        2        0        0        1        2
27   374191976  2013    13       55       32       49       45      151
28   566329593  2013    13        3        3        2        2       22
29   321010010  2013    13        1        5        6        4        7
..         ...   ...   ...      ...      ...      ...      ...      ...
183  369606498  2013    13       96       58       64       50       96
184  468674805  2013    13       26       16       12       24       32
185  462142958  2013    13       10        4        5        4       10
186  330784034  2013    13       79       41       44       29       99
187  476316481  2013    13       18       15       31       48      106
188  546407789  2013    13       90       30       25       38      229
189  406969208  2013    13       36       28       40       54      283
190  441143343  2013    13        4        1        0        2        7
191  463454413  2013    13       27       12       20        8       36
192  439449554  2013    13        3        0        4        5       23
193  505847168  2013    13       22        5       12       50      327
194  319957527  2013    13        5        4        2        3        1
195  413553606  2013    13        1        0        2        1        5
196  453176734  2013    13        1        0        0        3       13
197  533905419  2013    13        5        0        1        0        8
198  551341656  2013    13        0        0        1        5       27
199  378757624  2013    13        4        4        2        0        1
200  478126577  2013    13       86       33       44      104      506
201  370794522  2013    13        4        0        1        0        1
202  349168262  2013    13       50       26       17       20       13
203  489196274  2013    13       84       20       10       13       74
204  328934720  2013    13       72       30       39       29       72
205  410794319  2013    13       32       20       59       76      151
206  449267558  2013    13      172      118      200      401      315
207  409354774  2013    13        4        1        0        0        2
208  391801888  2013    13        5        2        0        0        6
209  449577861  2013    13       38        3        2        0       38
210  352609414  2013    13        4        1        1        0        2
211  421167659  2013    13       12        2        1        0        4
212  405622181  2013    13     1199      611      674      892     2723

[213 rows x 8 columns]

# WEEKLYRATINGSCURRENT

In [23]:
@require(iter_json_gzip,gzip,datetime,re,csv)
def WEEKLYRATINGSCURRENT(file_in,out_base,compress=1):
    headers = ['app_id','year','week','rating5','rating4','rating3','rating2','rating1']
    out_filename = out_base.format('WEEKLYRATINGSCURRENT')
    unique_daily_rating = set()
    with gzip.open(out_filename,'wt',compress) as out_file:
        csv_writer = csv.writer(out_file)
        csv_writer.writerow(headers)
        for json in iter_json_gzip(file_in):
            year,week = datetime.datetime.fromtimestamp(int(json['timestamp']))\
                                .isocalendar()[:2]
            rating = json.get('ratingCountList_current',None)
            if rating:
                obs = (json['app_id'],year,week)
                if hash(obs) not in unique_daily_rating:
                    unique_daily_rating.add(hash(obs))
                    csv_writer.writerow([json['app_id'],year,week]+rating)
    return out_filename

In [24]:
df_debug = None
if DEBUG:
    df_debug = read_csv(WEEKLYRATINGSCURRENT(RAW_FILE,OUT_BASE,COMPRESS_LEVEL),compression='gzip',header=0)
df_debug

Empty DataFrame
Columns: [app_id, year, week, rating5, rating4, rating3, rating2, rating1]
Index: []

# MONTHLYRATINGS

In [25]:
@require(iter_json_gzip,gzip,datetime,re,csv)
def MONTHLYRATINGS(file_in,out_base,compress=1):
    headers = ['app_id','year','month','rating5','rating4','rating3','rating2','rating1']
    out_filename = out_base.format('MONTHLYRATINGS')
    unique_daily_rating = set()
    with gzip.open(out_filename,'wt',9) as out_file:
        csv_writer = csv.writer(out_file)
        csv_writer.writerow(headers)
        for json in iter_json_gzip(file_in):
            dateobj = datetime.datetime.fromtimestamp(int(json['timestamp']))
            year,month = dateobj.year,dateobj.month
            rating = json.get('ratingCountList',None)
            if rating:
                obs = (json['app_id'],year,month)
                if hash(obs) not in unique_daily_rating:
                    unique_daily_rating.add(hash(obs))
                    csv_writer.writerow([json['app_id'],year,month]+rating)
    return out_filename

In [26]:
df_debug = None
if DEBUG:
    df_debug = read_csv(MONTHLYRATINGS(RAW_FILE,OUT_BASE,COMPRESS_LEVEL),compression='gzip',header=0)
df_debug

        app_id  year  month  rating5  rating4  rating3  rating2  rating1
0    333208122  2013      3      233       99      112       76      319
1    447548412  2013      3        1        1        1        0        9
2    333378940  2013      3        3        0        2        0        4
3    494794787  2013      3        3        1        1        0        5
4    469990268  2013      3       44        3       13       13       74
5    568421135  2013      3       15        5        8       10       29
6    288373421  2013      3       55       33       25       17       30
7    346672821  2013      3        4        3        7       10       44
8    353415141  2013      3       17        9        4        3       14
9    327519114  2013      3       35       11       12        4        7
10   582512771  2013      3        3        0        1        0        1
11   404562192  2013      3        3        0        2        2        1
12   493770844  2013      3        4        0        1        1       20
13   437242870  2013      3        1        3        5        1        1
14   528163921  2013      3        8        3        3       14       25
15   597378625  2013      3        0        0        1        2       78
16   427932413  2013      3        2        5        8       13       27
17   405992810  2013      3        3        2        2       10       17
18   547831264  2013      3       11        4        9       24       89
19   353022263  2013      3        4        2        3        2        3
20   501074772  2013      3        8        1        2        2       14
21   435347306  2013      3        0        3        5       10       11
22   531561519  2013      3        1        1        0        0       24
23   350792925  2013      3       95        4        4        2       43
24   333262493  2013      3        3        1        0        0        1
25   311967376  2013      3      344      101       94       54      191
26   585981070  2013      3        2        0        0        1        2
27   374191976  2013      3       55       32       49       45      151
28   566329593  2013      3        3        3        2        2       22
29   321010010  2013      3        1        5        6        4        7
..         ...   ...    ...      ...      ...      ...      ...      ...
183  369606498  2013      3       96       58       64       50       96
184  468674805  2013      3       26       16       12       24       32
185  462142958  2013      3       10        4        5        4       10
186  330784034  2013      3       79       41       44       29       99
187  476316481  2013      3       18       15       31       48      106
188  546407789  2013      3       90       30       25       38      229
189  406969208  2013      3       36       28       40       54      283
190  441143343  2013      3        4        1        0        2        7
191  463454413  2013      3       27       12       20        8       36
192  439449554  2013      3        3        0        4        5       23
193  505847168  2013      3       22        5       12       50      327
194  319957527  2013      3        5        4        2        3        1
195  413553606  2013      3        1        0        2        1        5
196  453176734  2013      3        1        0        0        3       13
197  533905419  2013      3        5        0        1        0        8
198  551341656  2013      3        0        0        1        5       27
199  378757624  2013      3        4        4        2        0        1
200  478126577  2013      3       86       33       44      104      506
201  370794522  2013      3        4        0        1        0        1
202  349168262  2013      3       50       26       17       20       13
203  489196274  2013      3       84       20       10       13       74
204  328934720  2013      3       72       30       39       29       72
205  410794319  2013      3       32       20       59       76      151
206  449267558  2013      3      172      118      200      401      315
207  409354774  2013      3        4        1        0        0        2
208  391801888  2013      3        5        2        0        0        6
209  449577861  2013      3       38        3        2        0       38
210  352609414  2013      3        4        1        1        0        2
211  421167659  2013      3       12        2        1        0        4
212  405622181  2013      3     1199      611      674      892     2723

[213 rows x 8 columns]

# NEWDEVELOPER

In [27]:
@require(iter_json_gzip,gzip,datetime,re,csv)
def NEWDEVELOPER(file_in,out_base,compress=1):
    headers = ['app_id','date','dev_id']
    out_filename = out_base.format('NEWDEVELOPER')
    running = {}
    with gzip.open(out_filename,'wt',compress) as out_file:
        csv_writer = csv.writer(out_file)
        csv_writer.writerow(headers)
        for json in iter_json_gzip(file_in):
            developer = str(json.get('artist_id',''))
            developer = developer.strip()
            if running.get(json['app_id'],'')!=developer \
                        and len(developer)>0 \
                        and developer.isdigit():
                running[json['app_id']] = developer
                day = datetime.datetime.\
                fromtimestamp(int(json['timestamp']))\
                        .strftime('%Y-%m-%d').strip()
                obs = (json['app_id'],day,developer)
                csv_writer.writerow(obs)
    return out_filename

In [28]:
df_debug = None
if DEBUG:
    df_debug = read_csv(NEWDEVELOPER(RAW_FILE,OUT_BASE,COMPRESS_LEVEL),compression='gzip',header=0)
df_debug

         app_id        date     dev_id
0     477033794  2013-03-27  477033797
1     494296216  2013-03-27  494296219
2     465608546  2013-03-27  403287102
3     498191169  2013-03-27  498191172
4     333208122  2013-03-27  328282863
5     447548412  2013-03-27  431586531
6     568386333  2013-03-27  568386336
7     564550227  2013-03-27  542898284
8     555915492  2013-03-27  447033331
9     480092632  2013-03-27  414617230
10    366947521  2013-03-27  349085221
11    518504981  2013-03-27  435349139
12    382827187  2013-03-27  354766336
13    487978078  2013-03-27  487978081
14    574240086  2013-03-27  543568133
15    477679542  2013-03-27  400661254
16    523502051  2013-03-27  478000544
17    439268906  2013-03-27  401640034
18    449609348  2013-03-27  441233546
19    485213368  2013-03-27  477659775
20    421620053  2013-03-27  421620056
21    555646787  2013-03-27  555646810
22    378071869  2013-03-27  371951988
23    333378940  2013-03-27  322444342
24    467612704  2013-03-27  467612707
25    560066403  2013-03-27  296621490
26    375126481  2013-03-27  365878193
27    397911872  2013-03-27  395452913
28    588772732  2013-03-27  588772735
29    335308599  2013-03-27  293129314
...         ...         ...        ...
971   511306890  2013-03-27  465070867
972   507402402  2013-03-27  507402405
973   406637778  2013-03-27  400653580
974   588344397  2013-03-27  476557029
975   614435478  2013-03-27  348889012
976   535705715  2013-03-27  535705718
977   544970337  2013-03-27  499209463
978   422133414  2013-03-27  368443008
979   409354774  2013-03-27  305404180
980   570615284  2013-03-27  492037201
981   398488020  2013-03-27  372963629
982   391801888  2013-03-27  380323042
983   306215672  2013-03-27  304007557
984   449577861  2013-03-27  415081500
985   501943048  2013-03-27  501943111
986   352609414  2013-03-27  304281723
987   494238968  2013-03-27  345872798
988   413903348  2013-03-27  413903351
989   496313738  2013-03-27  496313741
990   516330695  2013-03-27  494031521
991   414113560  2013-03-27  363581788
992   443547017  2013-03-27  443547020
993   516924704  2013-03-27  427504498
994   539799483  2013-03-27  437382235
995   421167659  2013-03-27  298530429
996   405622181  2013-03-27  284800461
997   451288104  2013-03-27  359471099
998   468404895  2013-03-27  451375145
999   556545516  2013-03-27  529806544
1000  442107865  2013-03-27  442107868

[1001 rows x 3 columns]

# NEWCATEGORY

In [29]:
@require(iter_json_gzip,gzip,datetime,re,csv)
def NEWCATEGORY(file_in,out_base,compress=1):
    headers = ['app_id','date']+ ['category{}'.format(x) \
                                  for x in range(1,5)]
    out_filename = out_base.format('NEWCATEGORY')
    running = {}
    with gzip.open(out_filename,'wt',compress) as out_file:
        csv_writer = csv.writer(out_file)
        csv_writer.writerow(headers)
        for json in iter_json_gzip(file_in):
            category = json.get('categories',[])[:4]
            joined = ",".join(category)
            if running.get(json['app_id'],'')!=joined:
                running[json['app_id']] = joined
                day = datetime.datetime.\
                fromtimestamp(int(json['timestamp']))\
                        .strftime('%Y-%m-%d').strip()
                csv_writer.writerow([json['app_id'],day]+ category)
    return out_filename

In [30]:
df_debug = None
if DEBUG:
    df_debug = read_csv(NEWCATEGORY(RAW_FILE,OUT_BASE,COMPRESS_LEVEL),compression='gzip',header=0)
df_debug

,app_id,date,category1,category2,category3,category4
0,477033794,2013-03-27,Music,Utilities,NaN,NaN
1,494296216,2013-03-27,Sports,Education,NaN,NaN
2,465608546,2013-03-27,Utilities,Entertainment,NaN,NaN
3,498191169,2013-03-27,Medical,Health & Fitness,NaN,NaN
4,333208122,2013-03-27,Utilities,Education,NaN,NaN
5,447548412,2013-03-27,Education,Educational,Games,Kids
6,568386333,2013-03-27,Social Networking,NaN,NaN,NaN
7,564550227,2013-03-27,Music,Education,NaN,NaN
8,555915492,2013-03-27,Games,Family,Entertainment,Kids
9,480092632,2013-03-27,Games,Kids,Family,NaN
10,366947521,2013-03-27,Business,Medical,NaN,NaN
11,518504981,2013-03-27,Entertainment,Music,NaN,NaN
12,382827187,2013-03-27,Books,Entertainment,NaN,NaN
13,487978078,2013-03-27,Music,Entertainment,NaN,NaN
14,574240086,2013-03-27,Books,Education,NaN,NaN
15,477679542,2013-03-27,Medical,Reference,NaN,NaN
16,523502051,2013-03-27,Games,Puzzle,Entertainment,Kids
17,439268906,2013-03-27,Productivity,Utilities,NaN,NaN
18,449609348,2013-03-27,Education,NaN,NaN,NaN
19,485213368,2013-03-27,Business,Utilities,NaN,NaN
20,421620053,2013-03-27,Books,Reference,NaN,NaN
21,555646787,2013-03-27,Business,Newsstand,NaN,NaN
22,378071869,2013-03-27,Entertainment,NaN,NaN,NaN
23,333378940,2013-03-27,Entertainment,Games,Simulation,NaN
24,467612704,2013-03-27,Music,Entertainment,NaN,NaN
25,560066403,2013-03-27,Business,Lifestyle,NaN,NaN
26,375126481,2013-03-27,News,Reference,NaN,NaN
27,397911872,2013-03-27,Books,Education,NaN,NaN
28,588772732,2013-03-27,Business,Catalogs,NaN,NaN
29,335308599,2013-03-27,Books,Entertainment,NaN,NaN
...,...,...,...,...,...,...
971,511306890,2013-03-27,Sports,Reference,NaN,NaN
972,507402402,2013-03-27,Medical,NaN,NaN,NaN
973,406637778,2013-03-27,Education,Games,Puzzle,Educational
974,588344397,2013-03-27,Games,Arcade,Adventure,Entertainment
975,614435478,2013-03-27,Reference,Education,NaN,NaN
976,535705715,2013-03-27,Utilities,Business,NaN,NaN
977,544970337,2013-03-27,Games,Arcade,Entertainment,Puzzle
978,422133414,2013-03-27,Games,Puzzle,Dice,Entertainment
979,409354774,2013-03-27,Entertainment,Kids,Arcade,Games
980,570615284,2013-03-27,Utilities,Photo & Video,NaN,NaN
981,398488020,2013-03-27,Entertainment,Education,NaN,NaN
982,391801888,2013-03-27,Entertainment,Trivia,Educational,Games
983,306215672,2013-03-27,Entertainment,NaN,NaN,NaN
984,449577861,2013-03-27,Games,Strategy,Trivia,NaN
985,501943048,2013-03-27,Lifestyle,NaN,NaN,NaN
986,352609414,2013-03-27,News,Sports,NaN,NaN
987,494238968,2013-03-27,Education,Reference,NaN,NaN
988,413903348,2013-03-27,Social Networking,Utilities,NaN,NaN
989,496313738,2013-03-27,Music,Entertainment,NaN,NaN
990,516330695,2013-03-27,Music,Entertainment,NaN,NaN
991,414113560,2013-03-27,Utilities,Books,NaN,NaN
992,443547017,2013-03-27,Music,Entertainment,NaN,NaN
993,516924704,2013-03-27,Photo & Video,Entertainment,NaN,NaN
994,539799483,2013-03-27,Games,Action,Entertainment,Simulation
995,421167659,2013-03-27,Games,Board,Dice,NaN
996,405622181,2013-03-27,Games,Simulation,Board,Entertainment
997,451288104,2013-03-27,Books,Education,NaN,NaN
998,468404895,2013-03-27,Games,Entertainment,Action,Family
999,556545516,2013-03-27,Business,Lifestyle,NaN,NaN
1000,442107865,2013-03-27,Lifestyle,Finance,NaN,NaN

# NEWPRICE

In [31]:
@require(iter_json_gzip,gzip,datetime,re,csv)
def NEWPRICE(file_in,out_base,compress=1):
    headers = ['app_id','date','price']
    out_filename = out_base.format('NEWPRICE')
    running = {}
    with gzip.open(out_filename,'wt',compress) as out_file:
        csv_writer = csv.writer(out_file)
        csv_writer.writerow(headers)
        for json in iter_json_gzip(file_in):
            price = str(json.get('price','')).replace("$","")
            if running.get(json['app_id'],'')!=price:
                running[json['app_id']] = price
                day = datetime.datetime.\
                fromtimestamp(int(json['timestamp']))\
                        .strftime('%Y-%m-%d').strip()
                obs = (json['app_id'],day,price)
                csv_writer.writerow(obs) 
    return out_filename

In [32]:
df_debug = None
if DEBUG:
    df_debug = read_csv(NEWPRICE(RAW_FILE,OUT_BASE,COMPRESS_LEVEL),compression='gzip',header=0)
df_debug

         app_id        date  price
0     477033794  2013-03-27   0.00
1     494296216  2013-03-27   3.99
2     465608546  2013-03-27   5.99
3     498191169  2013-03-27   0.00
4     333208122  2013-03-27   0.00
5     447548412  2013-03-27   2.99
6     568386333  2013-03-27   0.00
7     564550227  2013-03-27   0.00
8     555915492  2013-03-27   0.99
9     480092632  2013-03-27   0.99
10    366947521  2013-03-27   0.00
11    518504981  2013-03-27   0.00
12    382827187  2013-03-27   9.99
13    487978078  2013-03-27   0.00
14    574240086  2013-03-27   0.99
15    477679542  2013-03-27   0.00
16    523502051  2013-03-27   0.00
17    439268906  2013-03-27   0.99
18    449609348  2013-03-27   2.99
19    485213368  2013-03-27   4.99
20    421620053  2013-03-27   0.99
21    555646787  2013-03-27   0.00
22    378071869  2013-03-27   0.00
23    333378940  2013-03-27   0.99
24    467612704  2013-03-27   0.00
25    560066403  2013-03-27   0.00
26    375126481  2013-03-27   0.00
27    397911872  2013-03-27   8.99
28    588772732  2013-03-27   0.00
29    335308599  2013-03-27   0.00
...         ...         ...    ...
971   511306890  2013-03-27   0.99
972   507402402  2013-03-27   0.00
973   406637778  2013-03-27   0.99
974   588344397  2013-03-27   0.99
975   614435478  2013-03-27   4.99
976   535705715  2013-03-27   0.00
977   544970337  2013-03-27   0.99
978   422133414  2013-03-27   0.99
979   409354774  2013-03-27   0.00
980   570615284  2013-03-27   1.99
981   398488020  2013-03-27   0.99
982   391801888  2013-03-27   0.99
983   306215672  2013-03-27   0.99
984   449577861  2013-03-27   0.99
985   501943048  2013-03-27  24.99
986   352609414  2013-03-27   0.00
987   494238968  2013-03-27   4.99
988   413903348  2013-03-27   0.00
989   496313738  2013-03-27   0.00
990   516330695  2013-03-27   2.99
991   414113560  2013-03-27   5.99
992   443547017  2013-03-27   0.00
993   516924704  2013-03-27   2.99
994   539799483  2013-03-27   0.00
995   421167659  2013-03-27   0.99
996   405622181  2013-03-27   0.99
997   451288104  2013-03-27   3.99
998   468404895  2013-03-27   2.99
999   556545516  2013-03-27   0.00
1000  442107865  2013-03-27   0.00

[1001 rows x 3 columns]

# ALLVERSIONS

In [33]:
@require(iter_json_gzip,gzip,datetime,re,csv)
def ALLVERSIONS(file_in,out_base,compress=1):
    headers = ['app_id','date','version_string',\
#                'release_notes'\
              ]
    out_filename = out_base.format('ALLVERSIONS')
    unique_ver = set()
    with gzip.open(out_filename,'wt',compress) as out_file:
        csv_writer = csv.writer(out_file)
        csv_writer.writerow(headers)
        for json in iter_json_gzip(file_in):
            for each_version in json.get('version',[]):
                # need extra code because Apple changed format
                if 'release-date' in each_version:
                    date = each_version.get('release-date','')
                    date = datetime.datetime.strptime(date,'%b %d, %Y')
                    date = date.strftime('%Y-%m-%d')
                    version_string = each_version.get('version-string','')
                    release_notes = each_version.get('release-notes','')
                elif 'releaseDate' in each_version:
                    date = each_version.get('releaseDate','')
                    date = datetime.datetime.strptime(date,'%Y-%m-%dT%H:%M:%SZ')
                    date = date.strftime('%Y-%m-%d')
                    version_string = each_version.get('versionString','')
                    release_notes = each_version.get('releaseNotes','')
                obs_u = (json['app_id'],date,version_string)
                if hash(obs_u) not in unique_ver:
                    unique_ver.add(hash(obs_u))
                    obs = (json['app_id'],date,
                           version_string,
#                            release_notes,
                          )
                    csv_writer.writerow(obs)
    return out_filename

In [34]:
df_debug = None
if DEBUG:
    df_debug = read_csv(ALLVERSIONS(RAW_FILE,OUT_BASE,COMPRESS_LEVEL),compression='gzip',header=0)
df_debug

         app_id        date version_string
0     477033794  2011-11-04            1.0
1     494296216  2012-11-06          1.8.3
2     494296216  2012-09-10          1.8.2
3     494296216  2012-02-09          1.7.1
4     494296216  2012-01-26            1.7
5     465608546  2012-06-06            1.1
6     465608546  2011-09-22            1.0
7     498191169  2012-05-23            1.2
8     498191169  2012-03-06            1.1
9     498191169  2012-02-28            1.0
10    333208122  2011-01-10            2.5
11    333208122  2010-04-25            2.0
12    333208122  2009-10-15            1.0
13    447548412  2012-11-27            1.4
14    447548412  2012-07-01            1.3
15    447548412  2012-05-13            1.2
16    447548412  2012-03-07            1.1
17    447548412  2011-08-12            1.0
18    568386333  2013-02-20         4.5.12
19    568386333  2012-11-06            4.0
20    564550227  2012-10-03            1.0
21    555915492  2012-09-04            1.0
22    480092632  2011-11-18            1.0
23    366947521  2010-04-13            1.2
24    518504981  2012-07-03            1.1
25    518504981  2012-04-18            1.0
26    382827187  2011-12-03          2.4.2
27    382827187  2010-09-26            1.5
28    487978078  2011-12-14          4.6.1
29    574240086  2013-02-08            1.0
...         ...         ...            ...
2990  496313738  2012-01-27          1.5.1
2991  516330695  2012-05-02            1.0
2992  414113560  2011-01-13            1.0
2993  443547017  2011-06-14          4.5.2
2994  516924704  2012-11-14          5.0.0
2995  516924704  2012-09-11          3.5.0
2996  516924704  2012-04-12          3.1.0
2997  539799483  2012-07-06            1.0
2998  421167659  2012-02-07            1.2
2999  421167659  2011-05-28            1.1
3000  421167659  2011-02-24            1.0
3001  405622181  2012-04-19         1.1.35
3002  405622181  2011-06-20          1.0.5
3003  405622181  2011-04-27          1.0.3
3004  405622181  2010-12-06          1.0.1
3005  451288104  2012-04-17            1.1
3006  451288104  2011-07-27            1.0
3007  468404895  2012-09-10            5.0
3008  468404895  2011-12-13            4.0
3009  468404895  2011-12-08            2.0
3010  468404895  2011-10-27            1.5
3011  468404895  2011-10-09            1.0
3012  556545516  2013-02-27            1.3
3013  556545516  2012-11-02            1.2
3014  556545516  2012-10-12            1.1
3015  556545516  2012-10-03            1.0
3016  442107865  2011-11-28          1.803
3017  442107865  2011-07-15          1.703
3018  442107865  2011-06-28          1.603
3019  442107865  2011-06-20          1.503

[3020 rows x 3 columns]

# NEWREQ

In [35]:
@require(iter_json_gzip,gzip,datetime,re,csv)
def NEWREQ(file_in,out_base,compress=1):
    headers = ['app_id','date','requires','optimized']
    out_filename = out_base.format('NEWREQ')
    with gzip.open(out_filename,'wt',compress) as out_file:
        csv_writer = csv.writer(out_file, dialect='excel')
        csv_writer.writerow(headers)
        running = {}
        and_re = re.compile(r"and ")
        com_with_re = re.compile(r"Compatible with ")
        optimize_re = re.compile(r"This app is optimized for ")
        for json in iter_json_gzip(file_in):
            requires = json.get('requirements',None)
            if requires == None:
                continue
            re_split = requires.split(".")
            requires = com_with_re.sub('',re_split[0]).strip()
            requires = and_re.sub('',requires)
            optimized = None
            if len(re_split)>1:
                optimized = re_split[1].strip()
                optimized = optimize_re.sub("",optimized)
            if running.get(json['app_id'],'')!=json.get('requirements',''):
                running[json['app_id']] = json.get('requirements','')
                day = datetime.datetime.fromtimestamp(int(json['timestamp']))\
                        .strftime('%Y-%m-%d')
                obs = (json['app_id'],day,requires,optimized)
                csv_writer.writerow(obs)
    return out_filename

In [36]:
df_debug = None
if DEBUG:
    df_debug = read_csv(NEWREQ(RAW_FILE,OUT_BASE,COMPRESS_LEVEL),compression='gzip',header=0)
df_debug

,app_id,date,requires,optimized
0,477033794,2013-03-27,"iPhone 3GS, iPhone 4, iPhone 4S, iPhone 5, iPo...",NaN
1,494296216,2013-03-27,"iPhone, iPod touch, iPad",NaN
2,465608546,2013-03-27,iPad,NaN
3,498191169,2013-03-27,"iPhone 3GS, iPhone 4, iPhone 4S, iPhone 5, iPo...",NaN
4,333208122,2013-03-27,"iPhone, iPod touch, iPad",NaN
5,447548412,2013-03-27,"iPhone, iPod touch, iPad",NaN
6,568386333,2013-03-27,"iPhone, iPod touch, iPad",iPhone 5
7,564550227,2013-03-27,"iPhone, iPod touch, iPad",NaN
8,555915492,2013-03-27,"iPhone, iPod touch, iPad",NaN
9,480092632,2013-03-27,"iPhone, iPod touch, iPad",NaN
10,366947521,2013-03-27,"iPhone, iPod touch, iPad",NaN
11,518504981,2013-03-27,"iPhone, iPod touch, iPad",NaN
12,382827187,2013-03-27,"iPhone, iPod touch, iPad",NaN
13,487978078,2013-03-27,"iPhone, iPod touch, iPad",NaN
14,574240086,2013-03-27,"iPhone 3GS, iPhone 4, iPhone 4S, iPhone 5, iPo...",iPhone 5
15,477679542,2013-03-27,"iPhone, iPod touch, iPad",NaN
16,523502051,2013-03-27,"iPhone, iPod touch, iPad",NaN
17,439268906,2013-03-27,iPhone,NaN
18,449609348,2013-03-27,"iPhone, iPod touch, iPad",NaN
19,485213368,2013-03-27,"iPhone, iPod touch, iPad",NaN
20,421620053,2013-03-27,"iPhone, iPod touch, iPad",iPhone 5
21,555646787,2013-03-27,"iPhone, iPod touch, iPad",iPhone 5
22,378071869,2013-03-27,"iPhone, iPod touch, iPad",NaN
23,333378940,2013-03-27,"iPhone, iPod touch, iPad",NaN
24,467612704,2013-03-27,"iPhone, iPod touch, iPad",NaN
25,560066403,2013-03-27,"iPhone 3GS, iPhone 4, iPhone 4S, iPhone 5, iPo...",iPhone 5
26,375126481,2013-03-27,"iPhone, iPod touch, iPad",NaN
27,397911872,2013-03-27,iPad,NaN
28,588772732,2013-03-27,"iPhone, iPod touch, iPad",iPhone 5
29,335308599,2013-03-27,"iPhone, iPod touch, iPad",NaN
...,...,...,...,...
971,511306890,2013-03-27,"iPhone, iPod touch, iPad",NaN
972,507402402,2013-03-27,"iPhone 3GS, iPhone 4, iPhone 4S, iPhone 5, iPo...",iPhone 5
973,406637778,2013-03-27,iPad,NaN
974,588344397,2013-03-27,"iPhone, iPod touch, iPad",NaN
975,614435478,2013-03-27,"iPhone, iPod touch, iPad",iPhone 5
976,535705715,2013-03-27,"iPhone 3GS, iPhone 4, iPhone 4S, iPhone 5, iPo...",iPhone 5
977,544970337,2013-03-27,"iPhone, iPod touch, iPad",NaN
978,422133414,2013-03-27,"iPhone, iPod touch, iPad",NaN
979,409354774,2013-03-27,"iPhone, iPod touch, iPad",NaN
980,570615284,2013-03-27,"iPhone 3GS, iPhone 4, iPhone 4S, iPhone 5, iPo...",iPhone 5
981,398488020,2013-03-27,iPad,NaN
982,391801888,2013-03-27,"iPhone, iPod touch, iPad",NaN
983,306215672,2013-03-27,"iPhone, iPod touch, iPad",NaN
984,449577861,2013-03-27,"iPhone, iPod touch, iPad",NaN
985,501943048,2013-03-27,"iPhone, iPod touch, iPad",iPhone 5
986,352609414,2013-03-27,"iPhone, iPod touch, iPad",NaN
987,494238968,2013-03-27,"iPhone, iPod touch, iPad",NaN
988,413903348,2013-03-27,"iPhone, iPod touch, iPad",NaN
989,496313738,2013-03-27,"iPhone, iPod touch, iPad",iPhone 5
990,516330695,2013-03-27,iPad,NaN
991,414113560,2013-03-27,"iPhone, iPod touch, iPad",NaN
992,443547017,2013-03-27,"iPhone, iPod touch, iPad",NaN
993,516924704,2013-03-27,"iPhone 3GS, iPhone 4, iPhone 4S, iPhone 5, iPo...",iPhone 5
994,539799483,2013-03-27,"iPhone, iPod touch, iPad",NaN
995,421167659,2013-03-27,"iPhone, iPod touch, iPad",NaN
996,405622181,2013-03-27,iPad,NaN
997,451288104,2013-03-27,iPad,NaN
998,468404895,2013-03-27,"iPhone, iPod touch, iPad",NaN
999,556545516,2013-03-27,"iPhone, iPod touch, iPad",NaN
1000,442107865,2013-03-27,"iPhone, iPod touch, iPad",NaN

# NEWNAME

In [37]:
@require(iter_json_gzip,'ujson','datetime','re','gzip','csv')
def NEWNAME(file_in,out_base,compress=1):
    headers = ['app_id', 'date', 'name'] # list of column names
    out_filename = out_base.format('NEWNAME')
    running = {}
    with gzip.open(out_filename,'wt',compress) as out_file:
        csv_writer = csv.writer(out_file)
        csv_writer.writerow(headers)
        for json in iter_json_gzip(file_in):
            # get some attribute, cast to strting if need be
            # what you're "remmebering" can also be a tuple (not list, they're not hashable)
            name = json.get('app_name','')
            if isinstance(name,str):
                name = name.strip()
                # double check that it's a valid field, non empty and not seen, etc.
                if running.get(json['app_id'],'')!=name and len(name)>0:
                    # SOME CODE HERE
                    running[json['app_id']] = name
                    obs = [json['app_id'], str(datetime.date.fromtimestamp(int(json.get('timestamp', '')))), name]
                    csv_writer.writerow(obs)
    return out_filename

In [38]:
df_debug = None
if DEBUG:
    df_debug = read_csv(NEWNAME(RAW_FILE,OUT_BASE,COMPRESS_LEVEL),compression='gzip',header=0)
df_debug

         app_id        date                                         name
0     477033794  2013-03-27                                AcousticsCalc
1     494296216  2013-03-27                    SportBeeper Interval 3.6s
2     465608546  2013-03-27                                  Ardumote HD
3     498191169  2013-03-27                                   Depil Tech
4     333208122  2013-03-27                        Clicker Training Lite
5     447548412  2013-03-27                             Multiplication !
6     568386333  2013-03-27                          My Digital Notebook
7     564550227  2013-03-27                   Adictum Piano Lessons Free
8     555915492  2013-03-27    Find Kitty - Hide and Seek Preschool Game
9     480092632  2013-03-27                           ^o^Spy Tortoise^o^
10    366947521  2013-03-27                                   Europhonie
11    518504981  2013-03-27                               Swing e Balada
12    382827187  2013-03-27        Never Come Morning (by Nelson Algren)
13    487978078  2013-03-27                                      J. Dash
14    574240086  2013-03-27                                    《309暗室》有声
15    477679542  2013-03-27                                   HEP iChart
16    523502051  2013-03-27                              Rescue Princess
17    439268906  2013-03-27                                  Browser SMS
18    449609348  2013-03-27                                       H Atom
19    485213368  2013-03-27                                  MEyePro(V5)
20    421620053  2013-03-27                                Pocket Biblia
21    555646787  2013-03-27                             Headley Brothers
22    378071869  2013-03-27                                   TypeWorthy
23    333378940  2013-03-27                                  Tap Screech
24    467612704  2013-03-27                               Meghan Trainor
25    560066403  2013-03-27                   PassScanner for myPassbook
26    375126481  2013-03-27                                      SDKÚ-DS
27    397911872  2013-03-27                  Oliver Wendell Holmes Books
28    588772732  2013-03-27                                  NEXPO GROUP
29    335308599  2013-03-27               Colin II The Barbarian Returns
...         ...         ...                                          ...
971   511306890  2013-03-27                                Campi da Golf
972   507402402  2013-03-27         Neurolinks Trastornos del Movimiento
973   406637778  2013-03-27                                    Easy Math
974   588344397  2013-03-27                              Fang den Diplom
975   614435478  2013-03-27             Pevsner's Architectural Glossary
976   535705715  2013-03-27                                        ScWoL
977   544970337  2013-03-27                                  Block Stack
978   422133414  2013-03-27                                 Shake A Mate
979   409354774  2013-03-27                                    Squirrels
980   570615284  2013-03-27                                Home Safe Pro
981   398488020  2013-03-27                    Touch N Draw iPad Edition
982   391801888  2013-03-27                                 21 Questions
983   306215672  2013-03-27                          Poop and Fart Jokes
984   449577861  2013-03-27                                Bathing Girls
985   501943048  2013-03-27                                 Reptile Scan
986   352609414  2013-03-27                                      Chlorus
987   494238968  2013-03-27                               Torah Notebook
988   413903348  2013-03-27                             Search On Social
989   496313738  2013-03-27                                Gabriel Ayala
990   516330695  2013-03-27                         Crazy Tunes for iPad
991   414113560  2013-03-27                                          Noa
992   443547017  2013-03-27                            Fat Freddy's Drop
993   516924704  2013-03-27  Best of Pixels By Paul - Volume 3 - Widlife
994   539799483  2013-03-27                                  Dead Jungle
995   421167659  2013-03-27                                   Liars Dice
996   405622181  2013-03-27                            MONOPOLY for iPad
997   451288104  2013-03-27         Planet Soul an Interactive Storybook
998   468404895  2013-03-27                            Battle of Wits HD
999   556545516  2013-03-27                              My Tamaroff.com
1000  442107865  2013-03-27                                     MetroWNY

[1001 rows x 3 columns]

# NEWINAPP

In [53]:
@require(iter_json_gzip,'ujson','datetime','re','gzip','csv')
def NEWINAPP(file_in,out_base,compress=1):
    headers = ['app_id', 'date', 'has_inapp'] # list of column names
    out_filename = out_base.format('NEWINAPP')
    running = {}
    with gzip.open(out_filename,'wt',compress) as out_file:
        csv_writer = csv.writer(out_file)
        csv_writer.writerow(headers)
        for json in iter_json_gzip(file_in):
            # get some attribute, cast to strting if need be
            # what you're "remmebering" can also be a tuple (not list, they're not hashable)
            name = str(json.get('hasInAppPurchases',''))
            if isinstance(name,str):
                # double check that it's a valid field, non empty and not seen, etc.
                if running.get(json['app_id'],'')!=name and len(name)>0:
                    # SOME CODE HERE
                    running[json['app_id']] = name
                    obs = [json['app_id'], str(datetime.date.fromtimestamp(int(json.get('timestamp', '')))), name]
                    csv_writer.writerow(obs)
    return out_filename

In [54]:
df_debug = None
if DEBUG:
    df_debug = read_csv(NEWINAPP(RAW_FILE,OUT_BASE,COMPRESS_LEVEL),compression='gzip',header=0)
df_debug

         app_id        date has_inapp
0     477033794  2013-03-27     False
1     494296216  2013-03-27     False
2     465608546  2013-03-27     False
3     498191169  2013-03-27     False
4     333208122  2013-03-27     False
5     447548412  2013-03-27     False
6     568386333  2013-03-27     False
7     564550227  2013-03-27     False
8     555915492  2013-03-27     False
9     480092632  2013-03-27     False
10    366947521  2013-03-27     False
11    518504981  2013-03-27     False
12    382827187  2013-03-27     False
13    487978078  2013-03-27     False
14    574240086  2013-03-27     False
15    477679542  2013-03-27     False
16    523502051  2013-03-27     False
17    439268906  2013-03-27     False
18    449609348  2013-03-27     False
19    485213368  2013-03-27     False
20    421620053  2013-03-27     False
21    555646787  2013-03-27     False
22    378071869  2013-03-27     False
23    333378940  2013-03-27     False
24    467612704  2013-03-27     False
25    560066403  2013-03-27     False
26    375126481  2013-03-27     False
27    397911872  2013-03-27     False
28    588772732  2013-03-27     False
29    335308599  2013-03-27     False
...         ...         ...       ...
971   511306890  2013-03-27     False
972   507402402  2013-03-27     False
973   406637778  2013-03-27     False
974   588344397  2013-03-27     False
975   614435478  2013-03-27     False
976   535705715  2013-03-27     False
977   544970337  2013-03-27     False
978   422133414  2013-03-27     False
979   409354774  2013-03-27     False
980   570615284  2013-03-27     False
981   398488020  2013-03-27     False
982   391801888  2013-03-27     False
983   306215672  2013-03-27     False
984   449577861  2013-03-27     False
985   501943048  2013-03-27     False
986   352609414  2013-03-27     False
987   494238968  2013-03-27     False
988   413903348  2013-03-27     False
989   496313738  2013-03-27     False
990   516330695  2013-03-27     False
991   414113560  2013-03-27     False
992   443547017  2013-03-27     False
993   516924704  2013-03-27     False
994   539799483  2013-03-27     False
995   421167659  2013-03-27     False
996   405622181  2013-03-27     False
997   451288104  2013-03-27     False
998   468404895  2013-03-27     False
999   556545516  2013-03-27     False
1000  442107865  2013-03-27     False

[1001 rows x 3 columns]

# DAILYSCRAPE

In [41]:
@require(iter_json_gzip,'ujson','datetime','re','gzip','csv')
def DAILYSCRAPE(file_in,out_base,compress=1):
    headers = ['app_id', 'date'] # list of column names
    out_filename = out_base.format('DAILYSCRAPE')
    running = {}
    with gzip.open(out_filename,'wt',compress) as out_file:
        csv_writer = csv.writer(out_file)
        csv_writer.writerow(headers)
        for json in iter_json_gzip(file_in):
            # get some attribute, cast to strting if need be
            # what you're "remmebering" can also be a tuple (not list, they're not hashable)
            day = str(datetime.date.fromtimestamp(json.get('timestamp','')))
            if isinstance(day,str):
                day = day.strip()
                # double check that it's a valid field, non empty and not seen, etc.
                if running.get(json['app_id'],'')!=day and len(day)>0:
                    # SOME CODE HERE
                    running[json['app_id']] = day
                    obs = [json['app_id'], day]
                    csv_writer.writerow(obs)
    return out_filename

In [42]:
df_debug = None
if DEBUG:
    df_debug = read_csv(DAILYSCRAPE(RAW_FILE,OUT_BASE,COMPRESS_LEVEL),compression='gzip',header=0)
df_debug

         app_id  day
0     477033794   27
1     494296216   27
2     465608546   27
3     498191169   27
4     333208122   27
5     447548412   27
6     568386333   27
7     564550227   27
8     555915492   27
9     480092632   27
10    366947521   27
11    518504981   27
12    382827187   27
13    487978078   27
14    574240086   27
15    477679542   27
16    523502051   27
17    439268906   27
18    449609348   27
19    485213368   27
20    421620053   27
21    555646787   27
22    378071869   27
23    333378940   27
24    467612704   27
25    560066403   27
26    375126481   27
27    397911872   27
28    588772732   27
29    335308599   27
...         ...  ...
971   511306890   27
972   507402402   27
973   406637778   27
974   588344397   27
975   614435478   27
976   535705715   27
977   544970337   27
978   422133414   27
979   409354774   27
980   570615284   27
981   398488020   27
982   391801888   27
983   306215672   27
984   449577861   27
985   501943048   27
986   352609414   27
987   494238968   27
988   413903348   27
989   496313738   27
990   516330695   27
991   414113560   27
992   443547017   27
993   516924704   27
994   539799483   27
995   421167659   27
996   405622181   27
997   451288104   27
998   468404895   27
999   556545516   27
1000  442107865   27

[1001 rows x 2 columns]

# MONTHLYSCRAPE

In [43]:
@require(iter_json_gzip,'ujson','datetime','re','gzip','csv')
def MONTHLYSCRAPE(file_in,out_base,compress=1):
    headers = ['app_id', 'month'] # list of column names
    out_filename = out_base.format('MONTHLYSCRAPE')
    running = {}
    with gzip.open(out_filename,'wt',compress) as out_file:
        csv_writer = csv.writer(out_file)
        csv_writer.writerow(headers)
        for json in iter_json_gzip(file_in):
            # get some attribute, cast to strting if need be
            # what you're "remmebering" can also be a tuple (not list, they're not hashable)
            month = str(datetime.date.fromtimestamp(json.get('timestamp','')).month)
            if isinstance(month,str):
                month = month.strip()
                # double check that it's a valid field, non empty and not seen, etc.
                if running.get(json['app_id'],'')!=month and len(month)>0:
                    # SOME CODE HERE
                    running[json['app_id']] = month
                    obs = [json['app_id'], month]
                    csv_writer.writerow(obs)
    return out_filename

In [44]:
df_debug = None
if DEBUG:
    df_debug = read_csv(MONTHLYSCRAPE(RAW_FILE,OUT_BASE,COMPRESS_LEVEL),compression='gzip',header=0)
df_debug

         app_id  month
0     477033794      3
1     494296216      3
2     465608546      3
3     498191169      3
4     333208122      3
5     447548412      3
6     568386333      3
7     564550227      3
8     555915492      3
9     480092632      3
10    366947521      3
11    518504981      3
12    382827187      3
13    487978078      3
14    574240086      3
15    477679542      3
16    523502051      3
17    439268906      3
18    449609348      3
19    485213368      3
20    421620053      3
21    555646787      3
22    378071869      3
23    333378940      3
24    467612704      3
25    560066403      3
26    375126481      3
27    397911872      3
28    588772732      3
29    335308599      3
...         ...    ...
971   511306890      3
972   507402402      3
973   406637778      3
974   588344397      3
975   614435478      3
976   535705715      3
977   544970337      3
978   422133414      3
979   409354774      3
980   570615284      3
981   398488020      3
982   391801888      3
983   306215672      3
984   449577861      3
985   501943048      3
986   352609414      3
987   494238968      3
988   413903348      3
989   496313738      3
990   516330695      3
991   414113560      3
992   443547017      3
993   516924704      3
994   539799483      3
995   421167659      3
996   405622181      3
997   451288104      3
998   468404895      3
999   556545516      3
1000  442107865      3

[1001 rows x 2 columns]

# WEEKLYSCRAPE

In [57]:
@require(iter_json_gzip,'ujson','datetime','re','gzip','csv')
def WEEKLYSCRAPE(file_in,out_base,compress=1):
    headers = ['app_id', 'year', 'week'] # list of column names
    out_filename = out_base.format('WEEKLYSCRAPE')
    running = {}
    with gzip.open(out_filename,'wt',compress) as out_file:
        csv_writer = csv.writer(out_file)
        csv_writer.writerow(headers)
        for json in iter_json_gzip(file_in):
            # get some attribute, cast to strting if need be
            # what you're "remmebering" can also be a tuple (not list, they're not hashable)
            date = (str(datetime.date.fromtimestamp(json.get('timestamp','')).year), str(datetime.date.fromtimestamp(json.get('timestamp','')).isocalendar()[1]))
            if isinstance(date,tuple):
                # double check that it's a valid field, non empty and not seen, etc.
                if running.get(json['app_id'],'')!=date and len(date)>0:
                    # SOME CODE HERE
                    running[json['app_id']] = date
                    obs = [json['app_id'], date[0], date[1]]
                    csv_writer.writerow(obs)
    return out_filename

In [58]:
df_debug = None
if DEBUG:
    df_debug = read_csv(WEEKLYSCRAPE(RAW_FILE,OUT_BASE,COMPRESS_LEVEL),compression='gzip',header=0)
df_debug

         app_id  year  week
0     477033794  2013    13
1     494296216  2013    13
2     465608546  2013    13
3     498191169  2013    13
4     333208122  2013    13
5     447548412  2013    13
6     568386333  2013    13
7     564550227  2013    13
8     555915492  2013    13
9     480092632  2013    13
10    366947521  2013    13
11    518504981  2013    13
12    382827187  2013    13
13    487978078  2013    13
14    574240086  2013    13
15    477679542  2013    13
16    523502051  2013    13
17    439268906  2013    13
18    449609348  2013    13
19    485213368  2013    13
20    421620053  2013    13
21    555646787  2013    13
22    378071869  2013    13
23    333378940  2013    13
24    467612704  2013    13
25    560066403  2013    13
26    375126481  2013    13
27    397911872  2013    13
28    588772732  2013    13
29    335308599  2013    13
...         ...   ...   ...
971   511306890  2013    13
972   507402402  2013    13
973   406637778  2013    13
974   588344397  2013    13
975   614435478  2013    13
976   535705715  2013    13
977   544970337  2013    13
978   422133414  2013    13
979   409354774  2013    13
980   570615284  2013    13
981   398488020  2013    13
982   391801888  2013    13
983   306215672  2013    13
984   449577861  2013    13
985   501943048  2013    13
986   352609414  2013    13
987   494238968  2013    13
988   413903348  2013    13
989   496313738  2013    13
990   516330695  2013    13
991   414113560  2013    13
992   443547017  2013    13
993   516924704  2013    13
994   539799483  2013    13
995   421167659  2013    13
996   405622181  2013    13
997   451288104  2013    13
998   468404895  2013    13
999   556545516  2013    13
1000  442107865  2013    13

[1001 rows x 3 columns]

# NEWLANGUAGES

In [47]:
@require(iter_json_gzip,'ujson','datetime','re','gzip','csv')
def NEWLANGUAGES(file_in,out_base,compress=1):
    #assumes no more than 6 langs, script will still work if >6 langs but no headers on csv file for langs 7+
    headers = ['app_id', 'date', 'language1', 'language2', 'language3', 'language4', 'language5', 'language6'] # list of column names
    out_filename = out_base.format('NEWNAME')
    running = {}
    with gzip.open(out_filename,'wt',compress) as out_file:
        csv_writer = csv.writer(out_file)
        csv_writer.writerow(headers)
        for json in iter_json_gzip(file_in):
            # get some attribute, cast to strting if need be
            # what you're "remmebering" can also be a tuple (not list, they're not hashable)
            langs = tuple(sorted(tuple(json.get('languages','').split(','))))
            if isinstance(langs,tuple):
                # double check that it's a valid field, non empty and not seen, etc.
                if running.get(json['app_id'],'')!=langs and langs != (''):
                    # SOME CODE HERE
                    running[json['app_id']] = langs
                    obs = [json['app_id'], str(datetime.date.fromtimestamp(int(json.get('timestamp', ''))))]
                    [obs.append(str(x).strip()) for x in langs]
                    csv_writer.writerow(obs)
    return out_filename

In [48]:
df_debug = None
if DEBUG:
    df_debug = read_csv(NEWLANGUAGES(RAW_FILE,OUT_BASE,COMPRESS_LEVEL),compression='gzip',header=0)
df_debug

,app_id,date,language1,language2,language3,language4,language5,language6
0,477033794,2013-03-27,NaN,NaN,NaN,NaN,NaN,NaN
1,494296216,2013-03-27,NaN,NaN,NaN,NaN,NaN,NaN
2,465608546,2013-03-27,NaN,NaN,NaN,NaN,NaN,NaN
3,498191169,2013-03-27,NaN,NaN,NaN,NaN,NaN,NaN
4,333208122,2013-03-27,NaN,NaN,NaN,NaN,NaN,NaN
5,447548412,2013-03-27,NaN,NaN,NaN,NaN,NaN,NaN
6,568386333,2013-03-27,NaN,NaN,NaN,NaN,NaN,NaN
7,564550227,2013-03-27,NaN,NaN,NaN,NaN,NaN,NaN
8,555915492,2013-03-27,NaN,NaN,NaN,NaN,NaN,NaN
9,480092632,2013-03-27,NaN,NaN,NaN,NaN,NaN,NaN
10,366947521,2013-03-27,NaN,NaN,NaN,NaN,NaN,NaN
11,518504981,2013-03-27,NaN,NaN,NaN,NaN,NaN,NaN
12,382827187,2013-03-27,NaN,NaN,NaN,NaN,NaN,NaN
13,487978078,2013-03-27,NaN,NaN,NaN,NaN,NaN,NaN
14,574240086,2013-03-27,NaN,NaN,NaN,NaN,NaN,NaN
15,477679542,2013-03-27,NaN,NaN,NaN,NaN,NaN,NaN
16,523502051,2013-03-27,NaN,NaN,NaN,NaN,NaN,NaN
17,439268906,2013-03-27,NaN,NaN,NaN,NaN,NaN,NaN
18,449609348,2013-03-27,NaN,NaN,NaN,NaN,NaN,NaN
19,485213368,2013-03-27,NaN,NaN,NaN,NaN,NaN,NaN
20,421620053,2013-03-27,NaN,NaN,NaN,NaN,NaN,NaN
21,555646787,2013-03-27,NaN,NaN,NaN,NaN,NaN,NaN
22,378071869,2013-03-27,NaN,NaN,NaN,NaN,NaN,NaN
23,333378940,2013-03-27,NaN,NaN,NaN,NaN,NaN,NaN
24,467612704,2013-03-27,NaN,NaN,NaN,NaN,NaN,NaN
25,560066403,2013-03-27,NaN,NaN,NaN,NaN,NaN,NaN
26,375126481,2013-03-27,NaN,NaN,NaN,NaN,NaN,NaN
27,397911872,2013-03-27,NaN,NaN,NaN,NaN,NaN,NaN
28,588772732,2013-03-27,NaN,NaN,NaN,NaN,NaN,NaN
29,335308599,2013-03-27,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
971,511306890,2013-03-27,NaN,NaN,NaN,NaN,NaN,NaN
972,507402402,2013-03-27,NaN,NaN,NaN,NaN,NaN,NaN
973,406637778,2013-03-27,NaN,NaN,NaN,NaN,NaN,NaN
974,588344397,2013-03-27,NaN,NaN,NaN,NaN,NaN,NaN
975,614435478,2013-03-27,NaN,NaN,NaN,NaN,NaN,NaN
976,535705715,2013-03-27,NaN,NaN,NaN,NaN,NaN,NaN
977,544970337,2013-03-27,NaN,NaN,NaN,NaN,NaN,NaN
978,422133414,2013-03-27,NaN,NaN,NaN,NaN,NaN,NaN
979,409354774,2013-03-27,NaN,NaN,NaN,NaN,NaN,NaN
980,570615284,2013-03-27,NaN,NaN,NaN,NaN,NaN,NaN
981,398488020,2013-03-27,NaN,NaN,NaN,NaN,NaN,NaN
982,391801888,2013-03-27,NaN,NaN,NaN,NaN,NaN,NaN
983,306215672,2013-03-27,NaN,NaN,NaN,NaN,NaN,NaN
984,449577861,2013-03-27,NaN,NaN,NaN,NaN,NaN,NaN
985,501943048,2013-03-27,NaN,NaN,NaN,NaN,NaN,NaN
986,352609414,2013-03-27,NaN,NaN,NaN,NaN,NaN,NaN
987,494238968,2013-03-27,NaN,NaN,NaN,NaN,NaN,NaN
988,413903348,2013-03-27,NaN,NaN,NaN,NaN,NaN,NaN
989,496313738,2013-03-27,NaN,NaN,NaN,NaN,NaN,NaN
990,516330695,2013-03-27,NaN,NaN,NaN,NaN,NaN,NaN
991,414113560,2013-03-27,NaN,NaN,NaN,NaN,NaN,NaN
992,443547017,2013-03-27,NaN,NaN,NaN,NaN,NaN,NaN
993,516924704,2013-03-27,NaN,NaN,NaN,NaN,NaN,NaN
994,539799483,2013-03-27,NaN,NaN,NaN,NaN,NaN,NaN
995,421167659,2013-03-27,NaN,NaN,NaN,NaN,NaN,NaN
996,405622181,2013-03-27,NaN,NaN,NaN,NaN,NaN,NaN
997,451288104,2013-03-27,NaN,NaN,NaN,NaN,NaN,NaN
998,468404895,2013-03-27,NaN,NaN,NaN,NaN,NaN,NaN
999,556545516,2013-03-27,NaN,NaN,NaN,NaN,NaN,NaN
1000,442107865,2013-03-27,NaN,NaN,NaN,NaN,NaN,NaN

# NEWSIZE

In [55]:
@require(iter_json_gzip,'ujson','datetime','re','gzip','csv')
def NEWSIZE(file_in,out_base,compress=1):
    headers = ['app_id', 'date', 'size'] # list of column names
    out_filename = out_base.format('NEWSIZE')
    running = {}
    with gzip.open(out_filename,'wt',compress) as out_file:
        csv_writer = csv.writer(out_file)
        csv_writer.writerow(headers)
        for json in iter_json_gzip(file_in):
            # get some attribute, cast to strting if need be
            # what you're "remmebering" can also be a tuple (not list, they're not hashable)
            size = json.get('size','')
            if isinstance(size,int):
                # double check that it's a valid field, non empty and not seen, etc.
                if running.get(json['app_id'],'')!=size and size>0:
                    # SOME CODE HERE
                    running[json['app_id']] = size
                    obs = [json['app_id'], str(datetime.date.fromtimestamp(int(json.get('timestamp', '')))), size]
                    csv_writer.writerow(obs)
    return out_filename

In [56]:
df_debug = None
if DEBUG:
    df_debug = read_csv(NEWSIZE(RAW_FILE,OUT_BASE,COMPRESS_LEVEL),compression='gzip',header=0)
df_debug

         app_id        date       size
0     477033794  2013-03-27     101240
1     494296216  2013-03-27    2813286
2     465608546  2013-03-27     524597
3     498191169  2013-03-27    1945161
4     333208122  2013-03-27    1538564
5     447548412  2013-03-27    5933548
6     568386333  2013-03-27    7839711
7     564550227  2013-03-27    7648369
8     555915492  2013-03-27    4927664
9     480092632  2013-03-27    5181683
10    366947521  2013-03-27      73229
11    518504981  2013-03-27    5436413
12    382827187  2013-03-27  282740739
13    487978078  2013-03-27   15102872
14    574240086  2013-03-27   57379725
15    477679542  2013-03-27    1299465
16    523502051  2013-03-27    5098942
17    439268906  2013-03-27    1097910
18    449609348  2013-03-27    7084060
19    485213368  2013-03-27    1911638
20    421620053  2013-03-27    8281439
21    555646787  2013-03-27   10048601
22    378071869  2013-03-27    4521163
23    333378940  2013-03-27    3070313
24    467612704  2013-03-27    7447809
25    560066403  2013-03-27    2613427
26    375126481  2013-03-27    2707067
27    397911872  2013-03-27    2800790
28    588772732  2013-03-27   55289842
29    335308599  2013-03-27    6446451
...         ...         ...        ...
971   511306890  2013-03-27    2811388
972   507402402  2013-03-27   11136818
973   406637778  2013-03-27    9888632
974   588344397  2013-03-27   13275617
975   614435478  2013-03-27  172135258
976   535705715  2013-03-27    1523658
977   544970337  2013-03-27    3410275
978   422133414  2013-03-27    1877272
979   409354774  2013-03-27    5427818
980   570615284  2013-03-27    7330805
981   398488020  2013-03-27   16200483
982   391801888  2013-03-27    1770876
983   306215672  2013-03-27     263987
984   449577861  2013-03-27    4389152
985   501943048  2013-03-27   10703258
986   352609414  2013-03-27    1176164
987   494238968  2013-03-27    5227639
988   413903348  2013-03-27     508396
989   496313738  2013-03-27   12346863
990   516330695  2013-03-27   21356291
991   414113560  2013-03-27   25683620
992   443547017  2013-03-27   13167438
993   516924704  2013-03-27  229000501
994   539799483  2013-03-27   24790621
995   421167659  2013-03-27   10188858
996   405622181  2013-03-27  220925249
997   451288104  2013-03-27   80819029
998   468404895  2013-03-27   20478618
999   556545516  2013-03-27    5407585
1000  442107865  2013-03-27    2295599

[1001 rows x 3 columns]

# Run them all!

In [21]:
programs = """
NEWNAME
NEWINAPP
DAILYSCRAPE
MONTHLYSCRAPE
WEEKLYSCRAPE
""".split()

def run_function(f,RAW_FILE=RAW_FILE,OUT_BASE=OUT_BASE,COMPRESS_LEVEL=COMPRESS_LEVEL):
    return f(RAW_FILE ,OUT_BASE,COMPRESS_LEVEL)

for file in map(run_function,[globals()[x] for x in programs]):
    print(file)

/raid/out/NEWINAPP__apple_ios__main__2015_02_26_23_12.csv.gz
/raid/out/NEWINAPP__apple_ios__main__2015_02_26_23_12.csv.gz
/raid/out/NEWNAME__apple_ios__main__2015_02_26_23_12.csv.gz
/raid/out/NEWINAPP__apple_ios__main__2015_02_26_23_12.csv.gz
/raid/out/NEWINAPP__apple_ios__main__2015_02_26_23_12.csv.gz

In [22]:
print("DONE")

DONE