In [15]:
# Don't change the style of these imports.
# They must be imported this way for parallelization
# to work correctly.
import lxml.html
import ujson
import gzip
import csv
import datetime

In [2]:
from pdb import set_trace as debug
from IPython.parallel import Client,require
from collections import Counter
from pandas.io.parsers import read_csv

In [3]:
#--> RAW_FILE_DIR with the directory that contains google_play__main.json.gz
#--> OUT_DIR with the directory of where you want the processed files to go
#--> DEBUG whether to print out created CSV files or not
#--> COMPRESS_LEVEL gzip compression level. warning: severely impacts runtime.
#--> LINE_LIMIT how many lines to iterate through in the raw file. For debugging.
DUMP_DATE = '2015_03_07_23_12'
RAW_FILE_DIR = '/home/cgaray/data'
OUT_DIR = '/home/cgaray/data/out'
DEBUG = 1
COMPRESS_LEVEL = 1
LINE_LIMIT = -1 # -1 means run for the entire file
PARALLEL = 0

In [4]:
# Don't change these!
RAW_FILE_IPHONE = '{}/test_appannie__iphone.json.gz'.format(RAW_FILE_DIR)
RAW_FILE_IPAD = '{}/test_appannie__ipad.json.gz'.format(RAW_FILE_DIR)
RAW_FILE_GOOGLE = '{}/test_appannie__google.json.gz'.format(RAW_FILE_DIR)

OUT_BASE = OUT_DIR+'/{}__'+DUMP_DATE+'.csv.gz'

In [5]:
# ! zcat "$RAW_FILE_IPHONE" | head -n1
# ! zcat "$RAW_FILE_IPAD" | head -n1
# ! zcat "$RAW_FILE_GOOGLE" | head -n1

In [6]:
def iter_json_gzip(filename,LINE_LIMIT=LINE_LIMIT,no_verify_appid_time=1):
    with gzip.open(filename,'rt') as file_iter:
        c = 0
        for line in file_iter:
            c +=1
            if c > LINE_LIMIT and LINE_LIMIT>0:
                break
            if isinstance(line,str):
                if len(line)>0:        
                    out = ujson.loads(line)
                    if isinstance(out,dict):
                        if 'app_id' in out and 'timestamp' in out \
                        or no_verify_appid_time:
                            yield out

In [7]:
if PARALLEL:
    ipython_parallel = Client()
    print("{} active computing engines".format(len(ipython_parallel.ids)))

    lbv = ipython_parallel.load_balanced_view()

    map = lambda f,itertable:lbv.map(f,itertable,\
    block =False,\
    ordered =False)

    @require('socket')
    def host(dummy):
        return socket.gethostname()
    
    nodes = list(lbv.map(host,ipython_parallel.ids))
    nodes = [int(x.split('equity')[1].split(".")[0]) for x in nodes]
    nodes = nodes

    print(sorted(list(Counter(nodes).items())))

# RANKINGS_IPHONE

In [8]:
@require(iter_json_gzip,'ujson','gzip','csv','lxml.html')
def RANKINGS_IPHONE(file_in,out_base,compress=1):
    headers = ['app_id', 'chart', 'date', 'country', 'rank']
    out_filename = out_base.format('RANKINGS_IPHONE')
    with gzip.open(out_filename,'wt',compress) as out_file:
        csv_writer = csv.writer(out_file)
        csv_writer.writerow(headers)
        for json in iter_json_gzip(file_in):
            tree = lxml.html.fromstring(json['html'])
            app_ids = tree.xpath("//span[@style='display:none']")
            chart = ['free', 'paid', 'grossing']
            for i,app in enumerate(app_ids):
                app_info = [app.text_content(), chart[i%3], json['date'], 'United States', int(((i/3)+1))]
                csv_writer.writerow(app_info)
    return out_filename

In [9]:
df_debug = None
if DEBUG:
    df_debug = read_csv(RANKINGS_IPHONE(RAW_FILE_IPHONE,OUT_BASE,COMPRESS_LEVEL),compression='gzip',header=0)
df_debug

            app_id     chart        date        country  rank
0        826459257      free  2014-03-01  United States     1
1        503190232      paid  2014-03-01  United States     1
2        529479190  grossing  2014-03-01  United States     1
3        808176012      free  2014-03-01  United States     2
4        479516143      paid  2014-03-01  United States     2
5        553834731  grossing  2014-03-01  United States     2
6        766894692      free  2014-03-01  United States     3
7        623592465      paid  2014-03-01  United States     3
8        667728512  grossing  2014-03-01  United States     3
9        825289439      free  2014-03-01  United States     4
10       791341471      paid  2014-03-01  United States     4
11       284035177  grossing  2014-03-01  United States     4
12       811035387      free  2014-03-01  United States     5
13       634235735      paid  2014-03-01  United States     5
14       493619333  grossing  2014-03-01  United States     5
15       816765176      free  2014-03-01  United States     6
16       525818839      paid  2014-03-01  United States     6
17       538212549  grossing  2014-03-01  United States     6
18       819754949      free  2014-03-01  United States     7
19       667362389      paid  2014-03-01  United States     7
20       608206510  grossing  2014-03-01  United States     7
21       820625850      free  2014-03-01  United States     8
22       573116090      paid  2014-03-01  United States     8
23       468327549  grossing  2014-03-01  United States     8
24       447188370      free  2014-03-01  United States     9
25       779157948      paid  2014-03-01  United States     9
26       506627515  grossing  2014-03-01  United States     9
27       389801252      free  2014-03-01  United States    10
28       492367820      paid  2014-03-01  United States    10
29       563474464  grossing  2014-03-01  United States    10
...            ...       ...         ...            ...   ...
2781270  324316024      free  2010-06-02  United States   491
2781271  374165408      paid  2010-06-02  United States   491
2781272  346438884  grossing  2010-06-02  United States   491
2781273  328953873      free  2010-06-02  United States   492
2781274  316025912      paid  2010-06-02  United States   492
2781275  331933375  grossing  2010-06-02  United States   492
2781276  311544087      free  2010-06-02  United States   493
2781277  300590611      paid  2010-06-02  United States   493
2781278  343583887  grossing  2010-06-02  United States   493
2781279  325357320      free  2010-06-02  United States   494
2781280  281966695      paid  2010-06-02  United States   494
2781281  325946571  grossing  2010-06-02  United States   494
2781282  365189604      free  2010-06-02  United States   495
2781283  306440575      paid  2010-06-02  United States   495
2781284  335387077  grossing  2010-06-02  United States   495
2781285  300704847      free  2010-06-02  United States   496
2781286  331140646      paid  2010-06-02  United States   496
2781287  311626773  grossing  2010-06-02  United States   496
2781288  315257056      free  2010-06-02  United States   497
2781289  342465477      paid  2010-06-02  United States   497
2781290  306916838  grossing  2010-06-02  United States   497
2781291  339274852      free  2010-06-02  United States   498
2781292  341331076      paid  2010-06-02  United States   498
2781293  342129264  grossing  2010-06-02  United States   498
2781294  297558390      free  2010-06-02  United States   499
2781295  366753549      paid  2010-06-02  United States   499
2781296  295412241  grossing  2010-06-02  United States   499
2781297  299948601      free  2010-06-02  United States   500
2781298  322611086      paid  2010-06-02  United States   500
2781299  292755387  grossing  2010-06-02  United States   500

[2781300 rows x 5 columns]

# RANKINGS_GOOGLE

In [10]:
@require(iter_json_gzip,'ujson','gzip','csv','lxml.html')
def RANKINGS_GOOGLE(file_in,out_base,compress=1):
    headers = ['app_id', 'chart', 'date', 'country', 'rank']
    out_filename = out_base.format('RANKINGS_GOOGLE')
    with gzip.open(out_filename,'wt',compress) as out_file:
        csv_writer = csv.writer(out_file)
        csv_writer.writerow(headers)
        for json in iter_json_gzip(file_in):
            tree = lxml.html.fromstring(json['html'])
            app_ids = tree.xpath("//span[@style='display:none']")
            chart = ['free', 'paid', 'grossing', 'new_free', 'new_paid']
            for i,app in enumerate(app_ids):
                app_info = [app.text_content(), chart[i%5], json['date'], 'United States', int(((i/5)+1))]
                csv_writer.writerow(app_info)
    return out_filename

In [11]:
df_debug = None
if DEBUG:
    df_debug = read_csv(RANKINGS_GOOGLE(RAW_FILE_GOOGLE,OUT_BASE,COMPRESS_LEVEL),compression='gzip',header=0)
df_debug

,app_id,chart,date,country,rank
0,com.facebook.katana,free,2014-03-01,United States,1
1,com.mojang.minecraftpe,paid,2014-03-01,United States,1
2,com.supercell.clashofclans,grossing,2014-03-01,United States,1
3,it.junglestudios.splashyfish,new_free,2014-03-01,United States,1
4,com.FireproofStudios.TheRoom2,new_paid,2014-03-01,United States,1
5,com.pandora.android,free,2014-03-01,United States,2
6,com.touchtype.swiftkey,paid,2014-03-01,United States,2
7,com.king.candycrushsaga,grossing,2014-03-01,United States,2
8,com.square_enix.android_googleplay.deadmanscro...,new_free,2014-03-01,United States,2
9,com.mtvn.sbmigoogleplay,new_paid,2014-03-01,United States,2
10,com.facebook.orca,free,2014-03-01,United States,3
11,com.keramidas.TitaniumBackupPro,paid,2014-03-01,United States,3
12,com.king.farmheroessaga,grossing,2014-03-01,United States,3
13,com.lego.city.my_city,new_free,2014-03-01,United States,3
14,com.tocaboca.tocalab,new_paid,2014-03-01,United States,3
15,com.instagram.android,free,2014-03-01,United States,4
16,com.teslacoilsw.launcher.prime,paid,2014-03-01,United States,4
17,com.supercell.hayday,grossing,2014-03-01,United States,4
18,com.magicyang.doodle,new_free,2014-03-01,United States,4
19,com.dotemu.rtype2,new_paid,2014-03-01,United States,4
20,com.king.candycrushsaga,free,2014-03-01,United States,5
21,com.maxmpz.audioplayer.unlock,paid,2014-03-01,United States,5
22,com.king.petrescuesaga,grossing,2014-03-01,United States,5
23,com.turborilla.MadSkillsMotocross2,new_free,2014-03-01,United States,5
24,com.marvel.runjumpsmash_goo,new_paid,2014-03-01,United States,5
25,com.netflix.mediaclient,free,2014-03-01,United States,6
26,com.foxfi.key,paid,2014-03-01,United States,6
27,com.igg.castleclash,grossing,2014-03-01,United States,6
28,com.xtpl.kingsAndCannon,new_free,2014-03-01,United States,6
29,net.broapp.app,new_paid,2014-03-01,United States,6
...,...,...,...,...,...
2907537,com.lego.juniors.quest,free,2015-03-09,United States,495
2907538,com.bitcount.cleartune,paid,2015-03-09,United States,495
2907539,com.quattroplay.GraalEra,grossing,2015-03-09,United States,495
2907540,com.QbotIndustries.MoreMobs2,new_free,2015-03-09,United States,495
2907541,com.monotype.android.font.sdnewyorkstory,new_paid,2015-03-09,United States,495
2907542,com.uu.generaladaptiveapps,free,2015-03-09,United States,496
2907543,com.slingmedia.slingPlayerTablet,paid,2015-03-09,United States,496
2907544,air.com.spicerackmedia.bingoshowdown,grossing,2015-03-09,United States,496
2907545,com.modjo.walkingmcpe,new_free,2015-03-09,United States,496
2907546,com.brin.denonremote,new_paid,2015-03-09,United States,496
2907547,com.demirm.bubble.popping.marine,free,2015-03-09,United States,497
2907548,com.ubisoft.rayman.fiestarun,paid,2015-03-09,United States,497
2907549,com.com2us.imo.normal.freefull.google.global.a...,grossing,2015-03-09,United States,497
2907550,com.rushmo.casinofrenzy,new_free,2015-03-09,United States,497
2907551,com.hg.gunsandglory4,new_paid,2015-03-09,United States,497
2907552,com.fdgentertainment.bananakong,free,2015-03-09,United States,498
2907553,com.apps.beeraider,paid,2015-03-09,United States,498
2907554,com.eps.agb,grossing,2015-03-09,United States,498
2907555,com.animalmodsbest.heytin,new_free,2015-03-09,United States,498
2907556,com.whitefox.ShinSungJae,new_paid,2015-03-09,United States,498
2907557,com.joydo.minestrikenew,free,2015-03-09,United States,499
2907558,com.modoohut.dialer.donate,paid,2015-03-09,United States,499
2907559,com.giantssoftware.fs14,grossing,2015-03-09,United States,499
2907560,com.trycaviar.customer,new_free,2015-03-09,United States,499
2907561,com.dnwrght.ducat,new_paid,2015-03-09,United States,499
2907562,com.mapfactor.navigator,free,2015-03-09,United States,500
2907563,com.beamdog.baldursgateIIenhancededition,paid,2015-03-09,United States,500
2907564,com.slotsromance.slots.android.free,grossing,2015-03-09,United States,500
2907565,com.monotype.android.font.flipfont.develop.sexy,new_free,2015-03-09,United States,500
2907566,com.DreamStudio.FxCamera,new_paid,2015-03-09,United States,500

# RANKINGS_IPAD

In [12]:
@require(iter_json_gzip,'ujson','gzip','csv','lxml.html')
def RANKINGS_IPAD(file_in,out_base,compress=1):
    headers = ['app_id', 'chart', 'date', 'country', 'rank']
    out_filename = out_base.format('RANKINGS_IPAD')
    with gzip.open(out_filename,'wt',compress) as out_file:
        csv_writer = csv.writer(out_file)
        csv_writer.writerow(headers)
        for json in iter_json_gzip(file_in):
            tree = lxml.html.fromstring(json['html'])
            app_ids = tree.xpath("//span[@style='display:none']")
            chart = ['free', 'paid', 'grossing']
            for i,app in enumerate(app_ids):
                app_info = [app.text_content(), chart[i%3], json['date'], 'United States', int(((i/3)+1))]
                csv_writer.writerow(app_info)
    return out_filename

In [13]:
df_debug = None
if DEBUG:
    df_debug = read_csv(RANKINGS_IPAD(RAW_FILE_IPAD,OUT_BASE,COMPRESS_LEVEL),compression='gzip',header=0)
df_debug

            app_id     chart        date        country  rank
0        766894692      free  2014-03-01  United States     1
1        479516143      paid  2014-03-01  United States     1
2        529479190  grossing  2014-03-01  United States     1
3        826459257      free  2014-03-01  United States     2
4        667362389      paid  2014-03-01  United States     2
5        553834731  grossing  2014-03-01  United States     2
6        808176012      free  2014-03-01  United States     3
7        791341471      paid  2014-03-01  United States     3
8        667728512  grossing  2014-03-01  United States     3
9        808032599      free  2014-03-01  United States     4
10       808108897      paid  2014-03-01  United States     4
11       538212549  grossing  2014-03-01  United States     4
12       811035387      free  2014-03-01  United States     5
13       634235735      paid  2014-03-01  United States     5
14       506627515  grossing  2014-03-01  United States     5
15       608206510      free  2014-03-01  United States     6
16       622613679      paid  2014-03-01  United States     6
17       608206510  grossing  2014-03-01  United States     6
18       794524208      free  2014-03-01  United States     7
19       552039496      paid  2014-03-01  United States     7
20       485126024  grossing  2014-03-01  United States     7
21       363590051      free  2014-03-01  United States     8
22       768592901      paid  2014-03-01  United States     8
23       468327549  grossing  2014-03-01  United States     8
24       816765176      free  2014-03-01  United States     9
25       640111933      paid  2014-03-01  United States     9
26       493619333  grossing  2014-03-01  United States     9
27       544007664      free  2014-03-01  United States    10
28       576836614      paid  2014-03-01  United States    10
29       594843575  grossing  2014-03-01  United States    10
...            ...       ...         ...            ...   ...
1479066  289429962      free  2010-05-20  United States    91
1479067  366129244      paid  2010-05-20  United States    91
1479068  363308208  grossing  2010-05-20  United States    91
1479069  363585832      free  2010-05-20  United States    92
1479070  370135149      paid  2010-05-20  United States    92
1479071  363704172  grossing  2010-05-20  United States    92
1479072  363658130      free  2010-05-20  United States    93
1479073  363296995      paid  2010-05-20  United States    93
1479074  354537426  grossing  2010-05-20  United States    93
1479075  364221870      free  2010-05-20  United States    94
1479076  363785146      paid  2010-05-20  United States    94
1479077  301656026  grossing  2010-05-20  United States    94
1479078  364899669      free  2010-05-20  United States    95
1479079  363580552      paid  2010-05-20  United States    95
1479080  355893506  grossing  2010-05-20  United States    95
1479081  371214328      free  2010-05-20  United States    96
1479082  363297482      paid  2010-05-20  United States    96
1479083  364354155  grossing  2010-05-20  United States    96
1479084  313056918      free  2010-05-20  United States    97
1479085  364875034      paid  2010-05-20  United States    97
1479086  364641216  grossing  2010-05-20  United States    97
1479087  363484920      free  2010-05-20  United States    98
1479088  368763113      paid  2010-05-20  United States    98
1479089  370424532  grossing  2010-05-20  United States    98
1479090  314487667      free  2010-05-20  United States    99
1479091  364524199      paid  2010-05-20  United States    99
1479092  364368518  grossing  2010-05-20  United States    99
1479093  364294739      free  2010-05-20  United States   100
1479094  363875948      paid  2010-05-20  United States   100
1479095  325946571  grossing  2010-05-20  United States   100

[1479096 rows x 5 columns]

# APPANNIEHISTORICALEVENTS

Make sure that date is of the format `2014-03-01`. See this [Google Notebook](http://nbviewer.ipython.org/github/mobileinnovationgroup/data_requests/blob/master/main/Google%20Data%20Request.ipynb) for examples of how to do this conversion correctly.

In [14]:
@require(iter_json_gzip,'ujson','gzip','csv','datetime')
def APPANNIEHISTORICALEVENTS(file_in,out_base,compress=1):
#     headers = ['app_id', 'chart', 'date', 'country', 'rank']
    out_filename = out_base.format('APPANNIEHISTORICALEVENTS')
    with gzip.open(out_filename,'wt',compress) as out_file:
        csv_writer = csv.writer(out_file)
        csv_writer.writerow(headers)
        for json in iter_json_gzip(file_in):
#             tree = lxml.html.fromstring(json['html'])
#             app_ids = tree.xpath("//span[@style='display:none']")
#             chart = ['free', 'paid', 'grossing']
#             for i,app in enumerate(app_ids):
#                 app_info = [app.text_content(), chart[i%3], json['date'], 'United States', int(((i/3)+1))]
                csv_writer.writerow(app_info)
    return out_filename

In [ ]:
df_debug = None
if DEBUG:
    df_debug = read_csv(APPANNIEHISTORICALEVENTS(RAW_FILE_IPAD,OUT_BASE,COMPRESS_LEVEL),compression='gzip',header=0)
df_debug

# APPANNIEHISTORICALRANKINGS

In [ ]:
@require(iter_json_gzip,'ujson','gzip','csv','datetime')
def APPANNIEHISTORICALRANKINGS(file_in,out_base,compress=1):
#     headers = ['app_id', 'chart', 'date', 'country', 'rank']
    out_filename = out_base.format('APPANNIEHISTORICALRANKINGS')
    with gzip.open(out_filename,'wt',compress) as out_file:
        csv_writer = csv.writer(out_file)
        csv_writer.writerow(headers)
        for json in iter_json_gzip(file_in):
#             tree = lxml.html.fromstring(json['html'])
#             app_ids = tree.xpath("//span[@style='display:none']")
#             chart = ['free', 'paid', 'grossing']
#             for i,app in enumerate(app_ids):
#                 app_info = [app.text_content(), chart[i%3], json['date'], 'United States', int(((i/3)+1))]
                csv_writer.writerow(app_info)
    return out_filename

In [ ]:
df_debug = None
if DEBUG:
    df_debug = read_csv(APPANNIEHISTORICALRANKINGS(RAW_FILE_IPAD,OUT_BASE,COMPRESS_LEVEL),compression='gzip',header=0)
df_debug