In [1]:
import lxml.html
import ujson
import gzip
import csv

In [2]:
from pdb import set_trace as debug
from IPython.parallel import Client,require
from collections import Counter
from pandas.io.parsers import read_csv

In [3]:
#--> RAW_FILE_DIR with the directory that contains google_play__main.json.gz
#--> OUT_DIR with the directory of where you want the processed files to go
#--> DEBUG whether to print out created CSV files or not
#--> COMPRESS_LEVEL gzip compression level. warning: severely impacts runtime.
#--> LINE_LIMIT how many lines to iterate through in the raw file. For debugging.
DUMP_DATE = '2015_03_07_23_12'
RAW_FILE_DIR = '/Users/kushagrasharma/Coding/data'
OUT_DIR = '/Users/kushagrasharma/Coding/data/out'
DEBUG = 1
COMPRESS_LEVEL = 1
LINE_LIMIT = 50 # -1 means run for the entire file
PARALLEL = 0

In [4]:
# Don't change these!
RAW_FILE_IPHONE = '{}/test_appannie__iphone.json.gz'.format(RAW_FILE_DIR)
RAW_FILE_IPAD = '{}/test_appannie__ipad.json.gz'.format(RAW_FILE_DIR)
RAW_FILE_GOOGLE = '{}/test_appannie__google.json.gz'.format(RAW_FILE_DIR)

OUT_BASE = OUT_DIR+'/{}__'+DUMP_DATE+'.csv.gz'

In [5]:
# ! zcat "$RAW_FILE_IPHONE" | head -n1
# ! zcat "$RAW_FILE_IPAD" | head -n1
# ! zcat "$RAW_FILE_GOOGLE" | head -n1

In [6]:
def iter_json_gzip(filename,LINE_LIMIT=LINE_LIMIT,no_verify_appid_time=1):
    with gzip.open(filename,'rt') as file_iter:
        c = 0
        for line in file_iter:
            c +=1
            if c > LINE_LIMIT and LINE_LIMIT>0:
                break
            if isinstance(line,str):
                if len(line)>0:        
                    out = ujson.loads(line)
                    if isinstance(out,dict):
                        if 'app_id' in out and 'timestamp' in out \
                        or no_verify_appid_time:
                            yield out

In [7]:
if PARALLEL:
    ipython_parallel = Client()
    print("{} active computing engines".format(len(ipython_parallel.ids)))

    lbv = ipython_parallel.load_balanced_view()

    map = lambda f,itertable:lbv.map(f,itertable,\
    block =False,\
    ordered =False)

    @require('socket')
    def host(dummy):
        return socket.gethostname()
    
    nodes = list(lbv.map(host,ipython_parallel.ids))
    nodes = [int(x.split('equity')[1].split(".")[0]) for x in nodes]
    nodes = nodes

    print(sorted(list(Counter(nodes).items())))

# RANKINGSIPHONE

In [8]:
@require(iter_json_gzip,'ujson','gzip','csv','lxml.html')
def RANKPARSER_IOS(file_in,out_base,compress=1):
    headers = ['app_id', 'chart', 'date', 'country', 'rank']
    out_filename = out_base.format('RANKINGSIPHONE')
    with gzip.open(out_filename,'wt',compress) as out_file:
        csv_writer = csv.writer(out_file)
        csv_writer.writerow(headers)
        for json in iter_json_gzip(file_in):
            tree = lxml.html.fromstring(json['html'])
            app_ids = tree.xpath("//span[@style='display:none']")
            chart = ['free', 'paid', 'grossing']
            for i,app in enumerate(app_ids):
                app_info = [app.text_content(), chart[i%3], json['date'], 'United States', int(((i/3)+1))]
                csv_writer.writerow(app_info)
    return out_filename

In [9]:
df_debug = None
if DEBUG:
    df_debug = read_csv(RANKPARSER_IOS(RAW_FILE_IPHONE,OUT_BASE,COMPRESS_LEVEL),compression='gzip',header=0)
df_debug

          app_id     chart        date        country  rank
0      826459257      free  2014-03-01  United States     1
1      503190232      paid  2014-03-01  United States     1
2      529479190  grossing  2014-03-01  United States     1
3      808176012      free  2014-03-01  United States     2
4      479516143      paid  2014-03-01  United States     2
5      553834731  grossing  2014-03-01  United States     2
6      766894692      free  2014-03-01  United States     3
7      623592465      paid  2014-03-01  United States     3
8      667728512  grossing  2014-03-01  United States     3
9      825289439      free  2014-03-01  United States     4
10     791341471      paid  2014-03-01  United States     4
11     284035177  grossing  2014-03-01  United States     4
12     811035387      free  2014-03-01  United States     5
13     634235735      paid  2014-03-01  United States     5
14     493619333  grossing  2014-03-01  United States     5
15     816765176      free  2014-03-01  United States     6
16     525818839      paid  2014-03-01  United States     6
17     538212549  grossing  2014-03-01  United States     6
18     819754949      free  2014-03-01  United States     7
19     667362389      paid  2014-03-01  United States     7
20     608206510  grossing  2014-03-01  United States     7
21     820625850      free  2014-03-01  United States     8
22     573116090      paid  2014-03-01  United States     8
23     468327549  grossing  2014-03-01  United States     8
24     447188370      free  2014-03-01  United States     9
25     779157948      paid  2014-03-01  United States     9
26     506627515  grossing  2014-03-01  United States     9
27     389801252      free  2014-03-01  United States    10
28     492367820      paid  2014-03-01  United States    10
29     563474464  grossing  2014-03-01  United States    10
...          ...       ...         ...            ...   ...
74970  284235722      free  2014-07-11  United States   491
74971  338602482      paid  2014-07-11  United States   491
74972  471341991  grossing  2014-07-11  United States   491
74973  354902315      free  2014-07-11  United States   492
74974  505074676      paid  2014-07-11  United States   492
74975  677464631  grossing  2014-07-11  United States   492
74976  766894692      free  2014-07-11  United States   493
74977  323242790      paid  2014-07-11  United States   493
74978  503519713  grossing  2014-07-11  United States   493
74979  789446892      free  2014-07-11  United States   494
74980  503190232      paid  2014-07-11  United States   494
74981  565200595  grossing  2014-07-11  United States   494
74982  454607051      free  2014-07-11  United States   495
74983  374048661      paid  2014-07-11  United States   495
74984  749057895  grossing  2014-07-11  United States   495
74985  305939712      free  2014-07-11  United States   496
74986  578546778      paid  2014-07-11  United States   496
74987  655504247  grossing  2014-07-11  United States   496
74988  842849113      free  2014-07-11  United States   497
74989  579245567      paid  2014-07-11  United States   497
74990  530061521  grossing  2014-07-11  United States   497
74991  749094885      free  2014-07-11  United States   498
74992  526011730      paid  2014-07-11  United States   498
74993  531184261  grossing  2014-07-11  United States   498
74994  884094535      free  2014-07-11  United States   499
74995  523403945      paid  2014-07-11  United States   499
74996  547109049  grossing  2014-07-11  United States   499
74997  595558452      free  2014-07-11  United States   500
74998  308161582      paid  2014-07-11  United States   500
74999  853603997  grossing  2014-07-11  United States   500

[75000 rows x 5 columns]

# RANKINGSGOOGLE

In [10]:
@require(iter_json_gzip,'ujson','gzip','csv','lxml.html')
def RANKINGSGOOGLE(file_in,out_base,compress=1):
    headers = ['app_id', 'chart', 'date', 'country', 'rank']
    out_filename = out_base.format('RANKPARSER_GOOGLE')
    with gzip.open(out_filename,'wt',compress) as out_file:
        csv_writer = csv.writer(out_file)
        csv_writer.writerow(headers)
        for json in iter_json_gzip(file_in):
            tree = lxml.html.fromstring(json['html'])
            app_ids = tree.xpath("//span[@style='display:none']")
            chart = ['free', 'paid', 'grossing', 'new_free', 'new_paid']
            for i,app in enumerate(app_ids):
                app_info = [app.text_content(), chart[i%5], json['date'], 'United States', int(((i/5)+1))]
                csv_writer.writerow(app_info)
    return out_filename

In [11]:
df_debug = None
if DEBUG:
    df_debug = read_csv(RANKINGSGOOGLE(RAW_FILE_GOOGLE,OUT_BASE,COMPRESS_LEVEL),compression='gzip',header=0)
df_debug

,app_id,chart,date,country,rank
0,com.facebook.katana,free,2014-03-01,United States,1
1,com.mojang.minecraftpe,paid,2014-03-01,United States,1
2,com.supercell.clashofclans,grossing,2014-03-01,United States,1
3,it.junglestudios.splashyfish,new_free,2014-03-01,United States,1
4,com.FireproofStudios.TheRoom2,new_paid,2014-03-01,United States,1
5,com.pandora.android,free,2014-03-01,United States,2
6,com.touchtype.swiftkey,paid,2014-03-01,United States,2
7,com.king.candycrushsaga,grossing,2014-03-01,United States,2
8,com.square_enix.android_googleplay.deadmanscro...,new_free,2014-03-01,United States,2
9,com.mtvn.sbmigoogleplay,new_paid,2014-03-01,United States,2
10,com.facebook.orca,free,2014-03-01,United States,3
11,com.keramidas.TitaniumBackupPro,paid,2014-03-01,United States,3
12,com.king.farmheroessaga,grossing,2014-03-01,United States,3
13,com.lego.city.my_city,new_free,2014-03-01,United States,3
14,com.tocaboca.tocalab,new_paid,2014-03-01,United States,3
15,com.instagram.android,free,2014-03-01,United States,4
16,com.teslacoilsw.launcher.prime,paid,2014-03-01,United States,4
17,com.supercell.hayday,grossing,2014-03-01,United States,4
18,com.magicyang.doodle,new_free,2014-03-01,United States,4
19,com.dotemu.rtype2,new_paid,2014-03-01,United States,4
20,com.king.candycrushsaga,free,2014-03-01,United States,5
21,com.maxmpz.audioplayer.unlock,paid,2014-03-01,United States,5
22,com.king.petrescuesaga,grossing,2014-03-01,United States,5
23,com.turborilla.MadSkillsMotocross2,new_free,2014-03-01,United States,5
24,com.marvel.runjumpsmash_goo,new_paid,2014-03-01,United States,5
25,com.netflix.mediaclient,free,2014-03-01,United States,6
26,com.foxfi.key,paid,2014-03-01,United States,6
27,com.igg.castleclash,grossing,2014-03-01,United States,6
28,com.xtpl.kingsAndCannon,new_free,2014-03-01,United States,6
29,net.broapp.app,new_paid,2014-03-01,United States,6
...,...,...,...,...,...
123818,com.arcsoft.perfect365,free,2014-06-11,United States,495
123819,joybits.doodlegod,paid,2014-06-11,United States,495
123820,com.splashtop.remote.pad.v2,grossing,2014-06-11,United States,495
123821,com.nomine.howtocraftbookshelf,new_free,2014-06-11,United States,495
123822,com.tsapps.multicopypastepro,new_paid,2014-06-11,United States,495
123823,com.rdio.android.ui,free,2014-06-11,United States,496
123824,com.senri.da,paid,2014-06-11,United States,496
123825,com.tinyco.realms,grossing,2014-06-11,United States,496
123826,com.mp.citymotorscooter,new_free,2014-06-11,United States,496
123827,com.sc150.blue,new_paid,2014-06-11,United States,496
123828,com.dragonplay.slotcity,free,2014-06-11,United States,497
123829,com.tesseractmobile.solitairemulti,paid,2014-06-11,United States,497
123830,air.com.idlegaming.slots,grossing,2014-06-11,United States,497
123831,com.levelup.brightweather,new_free,2014-06-11,United States,497
123832,com.vigred.ww2medalsfull,new_paid,2014-06-11,United States,497
123833,com.stylem.wallpapers,free,2014-06-11,United States,498
123834,com.owncloud.android,paid,2014-06-11,United States,498
123835,com.gameloft.android.ANMP.GloftHOHM,grossing,2014-06-11,United States,498
123836,com.ohminemine.howtocraftitems,new_free,2014-06-11,United States,498
123837,com.bqs.spro_2015_jbq,new_paid,2014-06-11,United States,498
123838,com.amazon.windowshop,free,2014-06-11,United States,499
123839,com.itbenefit.android.calendar.key,paid,2014-06-11,United States,499
123840,com.tap4fun.ge.evolved,grossing,2014-06-11,United States,499
123841,com.shoefax.android,new_free,2014-06-11,United States,499
123842,mobile.visuals.stt,new_paid,2014-06-11,United States,499
123843,com.geico.mobile,free,2014-06-11,United States,500
123844,air.com.freshplanet.games.SongPopPremium,paid,2014-06-11,United States,500
123845,com.playdemic.villagelife.android,grossing,2014-06-11,United States,500
123846,com.tangoFans.FantasticTangoTip,new_free,2014-06-11,United States,500
123847,com.iamtopher.zwskin.zWatch,new_paid,2014-06-11,United States,500

# RANKINGSIPAD

In [12]:
@require(iter_json_gzip,'ujson','gzip','csv','lxml.html')
def RANKINGSIPAD(file_in,out_base,compress=1):
    headers = ['app_id', 'chart', 'date', 'country', 'rank']
    out_filename = out_base.format('RANKINGSIPAD')
    with gzip.open(out_filename,'wt',compress) as out_file:
        csv_writer = csv.writer(out_file)
        csv_writer.writerow(headers)
        for json in iter_json_gzip(file_in):
            tree = lxml.html.fromstring(json['html'])
            app_ids = tree.xpath("//span[@style='display:none']")
            chart = ['free', 'paid', 'grossing']
            for i,app in enumerate(app_ids):
                app_info = [app.text_content(), chart[i%3], json['date'], 'United States', int(((i/3)+1))]
                csv_writer.writerow(app_info)
    return out_filename

In [13]:
df_debug = None
if DEBUG:
    df_debug = read_csv(RANKINGSIPAD(RAW_FILE_IPAD,OUT_BASE,COMPRESS_LEVEL),compression='gzip',header=0)
df_debug

          app_id     chart        date        country  rank
0      766894692      free  2014-03-01  United States     1
1      479516143      paid  2014-03-01  United States     1
2      529479190  grossing  2014-03-01  United States     1
3      826459257      free  2014-03-01  United States     2
4      667362389      paid  2014-03-01  United States     2
5      553834731  grossing  2014-03-01  United States     2
6      808176012      free  2014-03-01  United States     3
7      791341471      paid  2014-03-01  United States     3
8      667728512  grossing  2014-03-01  United States     3
9      808032599      free  2014-03-01  United States     4
10     808108897      paid  2014-03-01  United States     4
11     538212549  grossing  2014-03-01  United States     4
12     811035387      free  2014-03-01  United States     5
13     634235735      paid  2014-03-01  United States     5
14     506627515  grossing  2014-03-01  United States     5
15     608206510      free  2014-03-01  United States     6
16     622613679      paid  2014-03-01  United States     6
17     608206510  grossing  2014-03-01  United States     6
18     794524208      free  2014-03-01  United States     7
19     552039496      paid  2014-03-01  United States     7
20     485126024  grossing  2014-03-01  United States     7
21     363590051      free  2014-03-01  United States     8
22     768592901      paid  2014-03-01  United States     8
23     468327549  grossing  2014-03-01  United States     8
24     816765176      free  2014-03-01  United States     9
25     640111933      paid  2014-03-01  United States     9
26     493619333  grossing  2014-03-01  United States     9
27     544007664      free  2014-03-01  United States    10
28     576836614      paid  2014-03-01  United States    10
29     594843575  grossing  2014-03-01  United States    10
...          ...       ...         ...            ...   ...
58770  811852730      free  2014-04-17  United States   391
58771  566394373      paid  2014-04-17  United States   391
58772  575980917  grossing  2014-04-17  United States   391
58773  526934974      free  2014-04-17  United States   392
58774  635325621      paid  2014-04-17  United States   392
58775  408841149  grossing  2014-04-17  United States   392
58776  537151075      free  2014-04-17  United States   393
58777  688319243      paid  2014-04-17  United States   393
58778  557138109  grossing  2014-04-17  United States   393
58779  749046891      free  2014-04-17  United States   394
58780  640198920      paid  2014-04-17  United States   394
58781  421167112  grossing  2014-04-17  United States   394
58782  651209536      free  2014-04-17  United States   395
58783  602881939      paid  2014-04-17  United States   395
58784  561482040  grossing  2014-04-17  United States   395
58785  572534490      free  2014-04-17  United States   396
58786  525507410      paid  2014-04-17  United States   396
58787  462914928  grossing  2014-04-17  United States   396
58788  714464092      free  2014-04-17  United States   397
58789  581585669      paid  2014-04-17  United States   397
58790  584557117  grossing  2014-04-17  United States   397
58791  416345444      free  2014-04-17  United States   398
58792  358207332      paid  2014-04-17  United States   398
58793  447331712  grossing  2014-04-17  United States   398
58794  735945527      free  2014-04-17  United States   399
58795  408495176      paid  2014-04-17  United States   399
58796  408878018  grossing  2014-04-17  United States   399
58797  354098826      free  2014-04-17  United States   400
58798  316025912      paid  2014-04-17  United States   400
58799  433822602  grossing  2014-04-17  United States   400

[58800 rows x 5 columns]